force-app/main/default/flows/Contact_City_Guide_Schedule_disable_city_guide_upon_endDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>check_City_Guide_endDate</name>
        <label>check City Guide endDate</label>
        <locationX>620</locationX>
        <locationY>294</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_CityGuide_EndDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disable_Contact_City_Guide</targetReference>
            </connector>
            <label>Check CityGuide EndDate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contact City Guide Schedule: disable city guide upon endDate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact City Guide Schedule: disable city guide upon endDate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Disable_Contact_City_Guide</name>
        <label>Disable Contact City Guide</label>
        <locationX>645</locationX>
        <locationY>449</locationY>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>490</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>check_City_Guide_endDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact_City_Guide__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-01-11</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
