force-app/main/default/flows/Record_Triggered_Quote_accepted_after_save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Record Triggered: Quote accepted after-save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered: Quote accepted after-save</label>
    <loops>
        <name>through_QuoteLineItem</name>
        <label>through QuoteLineItem</label>
        <locationX>537</locationX>
        <locationY>564</locationY>
        <collectionReference>Get</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_OpportunityLineItem</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get</name>
        <label>Get QuoteLineItems</label>
        <locationX>537</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>through_QuoteLineItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_OpportunityLineItem</name>
        <label>Update OpportunityLineItem</label>
        <locationX>788</locationX>
        <locationY>562</locationY>
        <connector>
            <targetReference>Update_opportunityLineItemDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>through_QuoteLineItem.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>through_QuoteLineItem.OpportunityLineItem.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>through_QuoteLineItem.OpportunityLineItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Breakfast__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Breakfast__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Extra_Charges_Amount__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Extra_Charges_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Markup_Amount__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Markup_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Markup__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Markup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>through_QuoteLineItem.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_rate__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Total_rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>through_QuoteLineItem.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAT__c</field>
            <value>
                <elementReference>through_QuoteLineItem.VAT__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_opportunityLineItemDetails</name>
        <label>Update opportunityLineItemDetails</label>
        <locationX>782</locationX>
        <locationY>388</locationY>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>through_QuoteLineItem.Line_Item_Detail__r.Opportunity_Line_Item_Details__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Arival_Date1__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Line_Item_Detail__r.Arival_Date1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arival_Date__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Line_Item_Detail__r.Arival_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bed_size__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Line_Item_Detail__r.Opportunity_Line_Item_Details__r.Bed_size__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Line_Item_Detail__r.Opportunity_Line_Item_Details__r.Booking__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure_1__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Line_Item_Detail__r.Departure1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure_2__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Line_Item_Detail__r.Departure_Date2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure_3__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Line_Item_Detail__r.Departure_Date3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure_4__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Line_Item_Detail__r.Departure4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure_Date_1__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Line_Item_Detail__r.Departure_Date1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure_Date_2__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Line_Item_Detail__r.Departure_Date2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure_Date_3__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Line_Item_Detail__r.Departure_Date3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure_Date_4__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Line_Item_Detail__r.Opportunity_Line_Item_Details__r.Departure_Date_4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure_Date__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Line_Item_Detail__r.Departure_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Line_Item_Detail__r.Departure__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination_1__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Line_Item_Detail__r.Destination1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination_2__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Line_Item_Detail__r.Destination2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination_3__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Line_Item_Detail__r.Destination3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination_4__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Line_Item_Detail__r.Destination4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Line_Item_Detail__r.Destination__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Name__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Line_Item_Detail__r.Event_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Line_Item_Detail__r.Hotel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meal_Plan__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Line_Item_Detail__r.Meal_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prefrence__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Line_Item_Detail__r.Preferences__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transport_Type__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Line_Item_Detail__r.Transport_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Venu__c</field>
            <value>
                <elementReference>through_QuoteLineItem.Line_Item_Detail__r.Venu__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opprtunity_Line_Item_Details__c</object>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
