force-app/main/default/flows/Record_Trigger_Opportunity_Product_after_hold_points_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Account_Hold_Points</name>
        <label>Set Account Hold Points</label>
        <locationX>615</locationX>
        <locationY>540</locationY>
        <assignmentItems>
            <assignToReference>varR_Account.Total_Hold__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forN_Points</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Hold_Points</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Change</name>
        <label>Check Change</label>
        <locationX>421</locationX>
        <locationY>388</locationY>
        <defaultConnector>
            <targetReference>Get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_amount_is_changes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quote_Amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_packageService_Sales_amount</targetReference>
            </connector>
            <label>Quote amount is changes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forN_Points</name>
        <dataType>Number</dataType>
        <expression>{!varR_Account.Total_Hold__c} - {!$Record__Prior.Total_Points__c}+{!$Record.Total_Points__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Record-Trigger: Opportunity Product after hold points update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: Opportunity Product after save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>610</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Account_Hold_Points</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Account.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varR_Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Hold__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Hold_Points</name>
        <label>Update Account Hold Points</label>
        <locationX>624</locationX>
        <locationY>667</locationY>
        <inputReference>varR_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_packageService_Sales_amount</name>
        <label>update packageService Sales amount</label>
        <locationX>414</locationX>
        <locationY>584</locationY>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>$Record.Quote_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>482</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Change</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Total_Points__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Quote_Amount__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
