force-app/main/default/flows/Record_Trigger_Service_member_after_create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_points</name>
        <label>Set points</label>
        <locationX>604</locationX>
        <locationY>886</locationY>
        <assignmentItems>
            <assignToReference>varR_opportunityProduct.Total_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varN_Points</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Product_Points</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_Points</name>
        <label>Check Account Points</label>
        <locationX>601</locationX>
        <locationY>778</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Points_Is_Avaliable</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>forN_PointsCheck</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_RecordType.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_points</targetReference>
            </connector>
            <label>Points Is Avaliable</label>
        </rules>
        <rules>
            <name>Account_Is_member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Guest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forN_PointsCheck</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service</targetReference>
            </connector>
            <label>Account Is member</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forN_PointsCheck</name>
        <dataType>Number</dataType>
        <expression>{!Get_Account.Balance__c} - ({!Get_Account.Total_Hold__c}-{!varR_opportunityProduct.Total_Points__c}+{!varN_Points})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varN_Points</name>
        <dataType>Number</dataType>
        <expression>{!varR_opportunityProduct.Total_Points__c}+{!Get_Product.Points__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Record-Trigger: Service member after create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: Service member after create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>609</locationX>
        <locationY>521</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_opportunityProduct.Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OpportunityProduct</name>
        <label>Get OpportunityProduct</label>
        <locationX>607</locationX>
        <locationY>409</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_Product__r.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>varR_opportunityProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Points__c</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>609</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OpportunityProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_Product__r.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get RecordType</label>
        <locationX>613</locationX>
        <locationY>651</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_Points</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Corporate</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Product_Points</name>
        <label>Update Opportunity Product Points</label>
        <locationX>601</locationX>
        <locationY>1002</locationY>
        <inputReference>varR_opportunityProduct</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service</name>
        <label>Update ServiceMember</label>
        <locationX>811</locationX>
        <locationY>875</locationY>
        <inputAssignments>
            <field>Extra_Charges__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>482</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Service_Member__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_opportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
