force-app/main/default/flows/Record_Trigger_Service_member_after_delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_points</name>
        <label>Set points</label>
        <locationX>607</locationX>
        <locationY>793</locationY>
        <assignmentItems>
            <assignToReference>varR_opportunityProduct.Total_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varN_Points</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Product_Points</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_membership_ExtraCharges</name>
        <label>check membership ExtraCharges</label>
        <locationX>600</locationX>
        <locationY>665</locationY>
        <defaultConnector>
            <targetReference>Set_points</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_extraCharges</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Extra_Charges__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Guest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is extraCharges</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varN_Points</name>
        <dataType>Number</dataType>
        <expression>{!varR_opportunityProduct.Total_Points__c}-{!Get_Product.Points__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Record-Trigger: Service member after delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: Service member after delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>608</locationX>
        <locationY>538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_membership_ExtraCharges</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_opportunityProduct.Opportunity.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OpportunityProduct</name>
        <label>Get OpportunityProduct</label>
        <locationX>607</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_Product__r.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>varR_opportunityProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Points__c</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>609</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OpportunityProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_Product__r.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Product_Points</name>
        <label>Update Opportunity Product Points</label>
        <locationX>603</locationX>
        <locationY>890</locationY>
        <inputReference>varR_opportunityProduct</inputReference>
    </recordUpdates>
    <start>
        <locationX>482</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
        <object>Service_Member__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_opportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
