force-app/main/default/flows/Record_Trigger_Quote_Line_Item_Detail_after_save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Is_DiningNightspotsReservation</name>
        <label>Is Dining &amp; Nightspots Reservation</label>
        <locationX>617</locationX>
        <locationY>657</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForT_DiningDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Venu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity_Line_Item_Details__r.Venu__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_QuoteLineItem_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_LifeStyleManagment</name>
        <label>Is LifeStyleManagment</label>
        <locationX>522</locationX>
        <locationY>658</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_LifeStyleManagment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_QuoteLineItem_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_VIP_AirportServices</name>
        <label>Is VIP Airport Services</label>
        <locationX>711</locationX>
        <locationY>658</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForT_VIPAirportServices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_QuoteLineItem_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Event_Description</name>
        <label>Set Event Description</label>
        <locationX>445</locationX>
        <locationY>664</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_EventDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Event_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity_Line_Item_Details__r.Event_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_QuoteLineItem_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_HealthandVaccine_Description</name>
        <label>Set HealthandVaccine Description</label>
        <locationX>891</locationX>
        <locationY>665</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForT_HealthandVaccineDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_QuoteLineItem_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_HotelAccommodation_Management_Desciption</name>
        <label>Set HotelAccommodation Management Desciption</label>
        <locationX>988</locationX>
        <locationY>663</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_Hotel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_QuoteLineItem_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_not_hotel_Accomodation</name>
        <label>Set not hotel Accomodation</label>
        <locationX>1101</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_notHotelAccomodation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_QuoteLineItem_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Specialty_Travel_Planning</name>
        <label>Set Specialty Travel Planning</label>
        <locationX>336</locationX>
        <locationY>664</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForT_SpecialtyTravelPlanning</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_QuoteLineItem_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Transport_ArrangementBooking</name>
        <label>Set Transport ArrangementBooking</label>
        <locationX>235</locationX>
        <locationY>669</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForT_TransportArrangementBooking</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_QuoteLineItem_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_VisaManagement_Description</name>
        <label>Set VisaManagement Description</label>
        <locationX>790</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForT_VisaManagement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_QuoteLineItem_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Quoteline_Item_type</name>
        <label>Check Quoteline Item type</label>
        <locationX>563</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Is_LifeStyleManagment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Line_Item_Details__r.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Event Ticketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Event_Description</targetReference>
            </connector>
            <label>Is Event</label>
        </rules>
        <rules>
            <name>Is_Dining_Nightspots_Reservation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Line_Item_Details__r.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dining &amp; Nightspots Reservations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_DiningNightspotsReservation</targetReference>
            </connector>
            <label>Is Dining &amp; Nightspots Reservation</label>
        </rules>
        <rules>
            <name>Is_VIP_Airport_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Line_Item_Details__r.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIP Airport Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_VIP_AirportServices</targetReference>
            </connector>
            <label>Is VIP Airport Services</label>
        </rules>
        <rules>
            <name>Is_Visa_Management</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Line_Item_Details__r.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visa Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_VisaManagement_Description</targetReference>
            </connector>
            <label>Is Visa Management</label>
        </rules>
        <rules>
            <name>Is_Health_and_Vaccine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Line_Item_Details__r.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Health and Vaccine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_HealthandVaccine_Description</targetReference>
            </connector>
            <label>Is Health and Vaccine</label>
        </rules>
        <rules>
            <name>Is_Specialty_Travel_Planning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Line_Item_Details__r.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Specialty Travel Planning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Specialty_Travel_Planning</targetReference>
            </connector>
            <label>Is Specialty Travel Planning</label>
        </rules>
        <rules>
            <name>Is_Transport_Arrangement_Booking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Line_Item_Details__r.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transport Arrangement - Booking</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Transport_ArrangementBooking</targetReference>
            </connector>
            <label>Is Transport Arrangement - Booking</label>
        </rules>
        <rules>
            <name>Is_Hotel_Accommodation_Management</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Line_Item_Details__r.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accommodation Management</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Line_Item_Details__r.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hotel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_HotelAccommodation_Management_Desciption</targetReference>
            </connector>
            <label>Is Hotel Accommodation Management</label>
        </rules>
        <rules>
            <name>Is_not_Hotel_Accomodation</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Line_Item_Details__r.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accommodation Management</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Line_Item_Details__r.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Apartment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Line_Item_Details__r.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Villa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Line_Item_Details__r.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Beach House</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_not_hotel_Accomodation</targetReference>
            </connector>
            <label>Is not Hotel Accomodation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ForT_DiningDescription</name>
        <dataType>String</dataType>
        <expression>{!$Record.Opportunity_Line_Item_Details__r.Venu__c} +  &quot;  &quot; +TEXT({!$Record.Opportunity_Line_Item_Details__r.Time_slot__c}) + &quot;  No. of Guests: &quot; + TEXT({!$Record.Opportunity_Line_Item_Details__r.Booking__c}) + &quot;  &quot; + {!$Record.Opportunity_Line_Item_Details__r.Prefrence__c}</expression>
    </formulas>
    <formulas>
        <name>forT_EventDescription</name>
        <dataType>String</dataType>
        <expression>{!$Record.Opportunity_Line_Item_Details__r.Event_Name__c} +&quot; &quot;+ {!$Record.Opportunity_Line_Item_Details__r.Destination__c} + &quot; &quot; +{!$Record.Opportunity_Line_Item_Details__r.Ticket_Type__c} + &quot;Number of Tickets: &quot; + TEXT({!$Record.Opportunity_Line_Item_Details__r.Booking__c})</expression>
    </formulas>
    <formulas>
        <name>ForT_HealthandVaccineDescription</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Opportunity_Line_Item_Details__r.Category__c}) + &quot;  &quot; + {!$Record.Opportunity_Line_Item_Details__r.Destination__c}</expression>
    </formulas>
    <formulas>
        <name>forT_Hotel</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Opportunity_Line_Item_Details__r.Meal_Plan__c})+ &quot;  &quot; +TEXT({!$Record.Opportunity_Line_Item_Details__r.Bed_size__c}) +  &quot; &quot; +{!$Record.Opportunity_Line_Item_Details__r.Prefrence__c}</expression>
    </formulas>
    <formulas>
        <name>forT_LifeStyleManagment</name>
        <dataType>String</dataType>
        <expression>{!$Record.Opportunity_Line_Item_Details__r.Additional_Details__c}</expression>
    </formulas>
    <formulas>
        <name>forT_notHotelAccomodation</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Opportunity_Line_Item_Details__r.Category__c}) + &quot; No. of guests  &quot; +TEXT({!$Record.Opportunity_Line_Item_Details__r.Booking__c}) + &quot; No. of rooms &quot; + TEXT({!$Record.Opportunity_Line_Item_Details__r.Room__c})</expression>
    </formulas>
    <formulas>
        <name>ForT_SpecialtyTravelPlanning</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Opportunity_Line_Item_Details__r.Category__c}) + &quot; No. of travelers: &quot;+TEXT({!$Record.Opportunity_Line_Item_Details__r.Booking__c}) + &quot;  &quot;+ {!$Record.Opportunity_Line_Item_Details__r.Destination__c}</expression>
    </formulas>
    <formulas>
        <name>ForT_TransportArrangementBooking</name>
        <dataType>String</dataType>
        <expression>&quot;Number of Travelers:&quot; + TEXT({!$Record.Opportunity_Line_Item_Details__r.Booking__c})+&quot; &quot;+{!$Record.Opportunity_Line_Item_Details__r.Departure__c} + &quot; &quot; + {!$Record.Opportunity_Line_Item_Details__r.Destination__c} +  &quot;  &quot; +TEXT({!$Record.Opportunity_Line_Item_Details__r.Transport_Type__c}) + &quot;  &quot; +TEXT({!$Record.Opportunity_Line_Item_Details__r.Class__c})</expression>
    </formulas>
    <formulas>
        <name>ForT_VIPAirportServices</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Opportunity_Line_Item_Details__r.Category__c})</expression>
    </formulas>
    <formulas>
        <name>ForT_VisaManagement</name>
        <dataType>String</dataType>
        <expression>&quot;Adult: &quot; +TEXT({!$Record.Opportunity_Line_Item_Details__r.Adult__c}) + &quot; Infant: &quot;+ TEXT({!$Record.Opportunity_Line_Item_Details__r.Child_0_2yr__c})+&quot; Chilfd: &quot;+TEXT({!$Record.Opportunity_Line_Item_Details__r.Child_3_12yr__c})+ &quot; Type of visa: &quot;+TEXT({!$Record.Opportunity_Line_Item_Details__r.Type_of_visa__c})</expression>
    </formulas>
    <interviewLabel>Record-Trigger: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: Quote Line Item Detail after-save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_QuoteLineItem_Details</name>
        <label>Update QuoteLineItem Details</label>
        <locationX>624</locationX>
        <locationY>929</locationY>
        <inputAssignments>
            <field>Airline__c</field>
            <value>
                <elementReference>$Record.Opportunity_Line_Item_Details__r.Airline__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arival_Date__c</field>
            <value>
                <elementReference>$Record.Opportunity_Line_Item_Details__r.Arival_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bed_size__c</field>
            <value>
                <elementReference>$Record.Opportunity_Line_Item_Details__r.Bed_size__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bookings__c</field>
            <value>
                <elementReference>$Record.Opportunity_Line_Item_Details__r.Booking__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure1__c</field>
            <value>
                <elementReference>$Record.Opportunity_Line_Item_Details__r.Departure_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure2__c</field>
            <value>
                <elementReference>$Record.Opportunity_Line_Item_Details__r.Departure_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure3__c</field>
            <value>
                <elementReference>$Record.Opportunity_Line_Item_Details__r.Departure_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure4__c</field>
            <value>
                <elementReference>$Record.Opportunity_Line_Item_Details__r.Departure_4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure_Date1__c</field>
            <value>
                <elementReference>$Record.Opportunity_Line_Item_Details__r.Departure_Date_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure_Date2__c</field>
            <value>
                <elementReference>$Record.Opportunity_Line_Item_Details__r.Departure_Date_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure_Date3__c</field>
            <value>
                <elementReference>$Record.Opportunity_Line_Item_Details__r.Departure_Date_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure_Date4__c</field>
            <value>
                <elementReference>$Record.Opportunity_Line_Item_Details__r.Departure_Date_4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure_Date__c</field>
            <value>
                <elementReference>$Record.Opportunity_Line_Item_Details__r.Departure_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure__c</field>
            <value>
                <elementReference>$Record.Opportunity_Line_Item_Details__r.Departure__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination1__c</field>
            <value>
                <elementReference>$Record.Opportunity_Line_Item_Details__r.Destination_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination2__c</field>
            <value>
                <elementReference>$Record.Opportunity_Line_Item_Details__r.Destination_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination3__c</field>
            <value>
                <elementReference>$Record.Opportunity_Line_Item_Details__r.Destination_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination4__c</field>
            <value>
                <elementReference>$Record.Opportunity_Line_Item_Details__r.Destination_4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination__c</field>
            <value>
                <elementReference>$Record.Opportunity_Line_Item_Details__r.Destination__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel__c</field>
            <value>
                <elementReference>$Record.Opportunity_Line_Item_Details__r.Hotel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meal_Plan__c</field>
            <value>
                <elementReference>$Record.Opportunity_Line_Item_Details__r.Meal_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferences__c</field>
            <value>
                <elementReference>$Record.Preferences__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room__c</field>
            <value>
                <elementReference>$Record.Opportunity_Line_Item_Details__r.Room__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transport_Type__c</field>
            <value>
                <elementReference>$Record.Opportunity_Line_Item_Details__r.Transport_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Venu__c</field>
            <value>
                <elementReference>$Record.Opportunity_Line_Item_Details__r.Venu__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Quoteline_Item_type</targetReference>
        </connector>
        <object>Quote_Line_Item_Detail__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
