force-app/main/default/flows/Record_Trigger_Opportunity_Closed_Won_after_save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Account_points</name>
        <label>Set Account points</label>
        <locationX>536</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>varR_Account.Balance__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>varN_Balance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Account.Consumed__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varN_Balance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Account.Total_Hold__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>varN_Balance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Points</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Total_Balance</name>
        <label>Set Total Balance</label>
        <locationX>779</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>varN_Balance</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>through_OpportunityProduxts.Total_Points__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>through_OpportunityProduxts</targetReference>
        </connector>
    </assignments>
    <description>update member balance after opportunity closed-won</description>
    <environments>Default</environments>
    <interviewLabel>Record-Trigger: Opportunity Closed-Won after-save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: Opportunity Closed-Won after-save</label>
    <loops>
        <name>through_OpportunityProduxts</name>
        <label>through OpportunityProduxts</label>
        <locationX>543</locationX>
        <locationY>608</locationY>
        <collectionReference>varR_OpportunityProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Total_Balance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Account_points</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>539</locationX>
        <locationY>477</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>through_OpportunityProduxts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varR_Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Hold__c</queriedFields>
        <queriedFields>Balance__c</queriedFields>
        <queriedFields>Consumed__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_OpportunityProduct</name>
        <label>Get OpportunityProduct</label>
        <locationX>536</locationX>
        <locationY>348</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>varR_OpportunityProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Total_Points__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Points</name>
        <label>Update Account Points</label>
        <locationX>531</locationX>
        <locationY>871</locationY>
        <inputReference>varR_Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_OpportunityProduct</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varN_Balance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varR_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varR_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varR_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varR_OpportunityProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varR_ServiceMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Member__c</objectType>
    </variables>
</Flow>
