force-app/main/default/flows/Schedule_Triggered_Flow_Deactivate_expired_events.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_EndDate</name>
        <label>Check EndDate</label>
        <locationX>529</locationX>
        <locationY>281</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Publication_Not_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ForDT_CurrentDT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Deactivate_Publication</targetReference>
            </connector>
            <label>Publication Not Active</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ForDT_CurrentDT</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <interviewLabel>Schedule-Triggered Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule-Triggered Flow Deactivate expired events</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Deactivate_Publication</name>
        <label>Update Deactivate Publication</label>
        <locationX>544</locationX>
        <locationY>381</locationY>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_EndDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Publication__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-10-25</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
