force-app/main/default/flows/ScreenFlow_New_opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>assign_ItemDetails</name>
        <label>assign ItemDetails</label>
        <locationX>1297</locationX>
        <locationY>2549</locationY>
        <actionName>AssignById</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SetServiceMember</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>opportunityItemDetails</name>
            <value>
                <elementReference>varR_opportunityLineItemsDetails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityProduct</name>
            <value>
                <elementReference>varR_OpportunityProducts</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SetServiceMember</name>
        <label>SetServiceMember</label>
        <locationX>1308</locationX>
        <locationY>2672</locationY>
        <actionName>SetServiceMember</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_RequestNumber</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>opportunityProduct</name>
            <value>
                <elementReference>varR_OpportunityProducts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceContactMap</name>
            <value>
                <elementReference>varA_ServiceContactMaps</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_ContactList</name>
        <label>Set ContactList</label>
        <locationX>641</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>varR_Contacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_request.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Standard_Pricebook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity</name>
        <label>Set Opportunity</label>
        <locationX>642</locationX>
        <locationY>1303</locationY>
        <assignmentItems>
            <assignToReference>varR_opportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunity.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunity.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Collect_Opportunity_Type.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunity.Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_request.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunity.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_pricebook.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_Opportunity_Type.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Standard_Pricebook</name>
        <label>Set Standard Pricebook</label>
        <locationX>647</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>varR_pricebook</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_Pricebook</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSubType</name>
        <label>SetSubTypeConcierge</label>
        <locationX>847</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>varT_SubType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConciergeRequest_Options.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_SubType</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Group_Services_Creat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSubTypeLifesytel</name>
        <label>SetSubTypeLifesytel</label>
        <locationX>599</locationX>
        <locationY>1850</locationY>
        <assignmentItems>
            <assignToReference>varT_SubType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LifestyleRequest_Options.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_SubType</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Group_Services_Creat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSubTypeTravel</name>
        <label>SetSubTypeTravel</label>
        <locationX>312</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>varT_SubType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TravelRequest_Options.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_SubType</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Group_Services_Creat</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Wich</name>
        <label>WhichSubTypeselected</label>
        <locationX>584</locationX>
        <locationY>1660</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Travel_is_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TravelRequest_Options.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_opportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSubTypeTravel</targetReference>
            </connector>
            <label>Travel is selected</label>
        </rules>
        <rules>
            <name>LifeStyle_is_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LifestyleRequest_Options.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_opportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lifestyle Management Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSubTypeLifesytel</targetReference>
            </connector>
            <label>LifeStyle is selected</label>
        </rules>
        <rules>
            <name>Concierge_is_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConciergeRequest_Options.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_opportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Concierge Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSubType</targetReference>
            </connector>
            <label>Concierge is selected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forT_GetopportunityType</name>
        <dataType>String</dataType>
        <expression>LEFT({!varT_OpportunityTypes},(FIND(&quot;;&quot;, {!varT_OpportunityTypes}))-1)</expression>
    </formulas>
    <formulas>
        <description>separate one service from list</description>
        <name>forT_GetService</name>
        <dataType>String</dataType>
        <expression>LEFT({!varT_SubType},(FIND(&quot;;&quot;, {!varT_SubType}))-1)</expression>
    </formulas>
    <formulas>
        <name>forT_RemoveaddedOpportunity</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!varT_OpportunityTypes},(LEN({!varT_OpportunityTypes})-(FIND(&quot;;&quot;,{!varT_OpportunityTypes})))))</expression>
    </formulas>
    <formulas>
        <name>forT_RemoveaddedService</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!varT_SubType},(LEN({!varT_SubType})-(FIND(&quot;;&quot;,{!varT_SubType})))))</expression>
    </formulas>
    <interviewLabel>ScreenFlow: New opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow: New opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>638</locationX>
        <locationY>1468</locationY>
        <connector>
            <targetReference>Wich</targetReference>
        </connector>
        <inputReference>varR_opportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_OpportunitylineItemdetail</name>
        <label>Create OpportunitylineItemdetails</label>
        <locationX>949</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Create_PricebookEntries</targetReference>
        </connector>
        <inputReference>varR_opportunityLineItemsDetails</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_OpportunityProduct</name>
        <label>Create OpportunityProduct</label>
        <locationX>1154</locationX>
        <locationY>2557</locationY>
        <connector>
            <targetReference>assign_ItemDetails</targetReference>
        </connector>
        <inputReference>varR_OpportunityProducts</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_PricebookEntries</name>
        <label>Create PricebookEntries</label>
        <locationX>1158</locationX>
        <locationY>2293</locationY>
        <connector>
            <targetReference>Create_OpportunityProduct</targetReference>
        </connector>
        <inputReference>varR_PricebookEntries</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>622</locationX>
        <locationY>425</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_request.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varR_Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>623</locationX>
        <locationY>522</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_ContactList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Request</name>
        <label>Get Request</label>
        <locationX>621</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>varR_request</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Type</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_RequestNumber</name>
        <label>Get RequestNumber</label>
        <locationX>1413</locationX>
        <locationY>2695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CloseScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_request.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Pricebook</name>
        <label>Get Standard Pricebook</label>
        <locationX>640</locationX>
        <locationY>823</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Standard_Pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CloseScreen</name>
        <label>CloseScreen</label>
        <locationX>1573</locationX>
        <locationY>2700</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DoneImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>DoneImage</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CloseStatment</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(30, 42, 101);&quot;&gt;Reservation Request No.&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(28, 147, 54);&quot;&gt;{!Get_RequestNumber.CaseNumber} &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(30, 42, 101);&quot;&gt;has been successfully updated.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Collect_Type</name>
        <label>Collect Type</label>
        <locationX>645</locationX>
        <locationY>1154</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Opportunity</targetReference>
        </connector>
        <fields>
            <name>RequestTypeStep</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Collect Contact information,Select requested services,Collect Service information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Select requested services</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Path</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Collect_Opportunity_Type</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>TypePicklist__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideDescription</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>ServiceTypeSingle__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>Non Coverable Content</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageSize</name>
                <value>
                    <stringValue>x-large</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TravelRequest_Options</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>TypePicklist__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>TravelService__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Collect_Opportunity_Type.selectedValue</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Travel Services</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ConciergeRequest_Options</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>TypePicklist__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>Concierge__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Collect_Opportunity_Type.selectedValue</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Concierge Services</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LifestyleRequest_Options</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>LifeStyle__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>TypePicklist__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Collect_Opportunity_Type.selectedValue</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Lifestyle Management Services</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>505</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Group_Services_Creat</name>
        <label>Group Services Creat</label>
        <locationX>596</locationX>
        <locationY>2221</locationY>
        <connector>
            <targetReference>Create_OpportunitylineItemdetail</targetReference>
        </connector>
        <flowName>SubFlow_Create_Group_of_Services</flowName>
        <inputAssignments>
            <name>varR_opportunity</name>
            <value>
                <elementReference>varR_opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OpportunityProducts</name>
            <value>
                <elementReference>varR_OpportunityProducts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_pricebook</name>
            <value>
                <elementReference>varR_pricebook</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_request</name>
            <value>
                <elementReference>varR_request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_SubType</name>
            <value>
                <elementReference>varT_SubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varA_ServiceContactMaps</name>
            <value>
                <elementReference>varA_ServiceContactMaps</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varA_ServiceContactMaps</assignToReference>
            <name>varA_ServiceContactMaps</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varR_opportunityLineItemsDetails</assignToReference>
            <name>varR_opportunityLineItemsDetails</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varR_OpportunityProducts</assignToReference>
            <name>varR_OpportunityProducts</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varR_PricebookEntries</assignToReference>
            <name>varR_PricebookEntries</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varR_Services</assignToReference>
            <name>varR_Services</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarA_ServiceContactMap</name>
        <apexClass>ServiceContactMap</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varA_ServiceContactMaps</name>
        <apexClass>ServiceContactMap</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varC_SelectedContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varN_AvailableBalance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varR_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varR_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varR_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varR_EmptyServices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varR_opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varR_opportunityLineItemsDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opprtunity_Line_Item_Details__c</objectType>
    </variables>
    <variables>
        <name>varR_OpportunityLinetemDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opprtunity_Line_Item_Details__c</objectType>
    </variables>
    <variables>
        <name>varR_OpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varR_OpportunityProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varR_pricebook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>varR_PricebookEntries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>varR_PricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>varR_request</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varR_SelectedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varR_Service</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varR_ServiceMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Member__c</objectType>
    </variables>
    <variables>
        <name>varR_ServiceMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Member__c</objectType>
    </variables>
    <variables>
        <name>varR_Services</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varR_SubTypes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_TotalItemDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opprtunity_Line_Item_Details__c</objectType>
    </variables>
    <variables>
        <name>varT_OpportunityTypes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_SubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
