force-app/main/default/flows/ScreenFlow_VIP_Airport_services.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_UniqueFields</name>
        <label>Set UniqueFields</label>
        <locationX>399</locationX>
        <locationY>633</locationY>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supplier.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Driver_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Contact_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Driver_Number.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Arival_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Travelers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OpportunityLineItemDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_UniqueForNonTransfer</name>
        <label>Set UniqueForNonTransfer</label>
        <locationX>506</locationX>
        <locationY>848</locationY>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supplier.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Contact_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Representative_Number.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Request_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meeting_Point</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Arival_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Travelers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OpportunityLineItemDetails</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_VipAirportTransfer</name>
        <label>Check VipAirportTransfer</label>
        <locationX>501</locationX>
        <locationY>641</locationY>
        <defaultConnector>
            <targetReference>Set_UniqueForNonTransfer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_OpportunityLineItemDetails.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIP Airport Transfers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_UniqueFields</targetReference>
            </connector>
            <label>Is Transfer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ScreenFlow: VIP Airport services {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow: VIP Airport services</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_OpportunityLineItemDetails</name>
        <label>Get OpportunityLineItemDetails</label>
        <locationX>485</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VIP_Airport_services_view</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_Id</elementReference>
            </value>
        </filters>
        <object>Opprtunity_Line_Item_Details__c</object>
        <outputReference>varR_OpportunityLineItemDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Supplier__c</queriedFields>
        <queriedFields>Arival_Date__c</queriedFields>
        <queriedFields>Sub_Type__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Booking__c</queriedFields>
        <queriedFields>Confirmation_Number__c</queriedFields>
        <queriedFields>Additional_Details__c</queriedFields>
        <queriedFields>Contact_Name__c</queriedFields>
        <queriedFields>Contact_Number__c</queriedFields>
        <queriedFields>Destination__c</queriedFields>
        <queriedFields>Flight_Number__c</queriedFields>
        <queriedFields>Request_Details__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_OpportunityLineItemDetails</name>
        <label>Update OpportunityLineItemDetails</label>
        <locationX>183</locationX>
        <locationY>739</locationY>
        <connector>
            <targetReference>VIP_Airport_services_view</targetReference>
        </connector>
        <inputReference>varR_OpportunityLineItemDetails</inputReference>
    </recordUpdates>
    <screens>
        <name>VIP_Airport_services_edit</name>
        <label>VIP Airport services edit</label>
        <locationX>491</locationX>
        <locationY>481</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_VipAirportTransfer</targetReference>
        </connector>
        <fields>
            <name>Supplier</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Supplier__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Supplier</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varR_OpportunityLineItemDetails.Supplier__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>varR_OpportunityLineItemDetails.Arival_Date__c</elementReference>
            </defaultValue>
            <fieldText>Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VIP_Airport_services_edit_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VIP_Airport_services_edit_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Sub_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Number_of_Travelers</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>varR_OpportunityLineItemDetails.Booking__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of Travelers</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>VIP_Airport_services_edit_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Category__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Flight_Number__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLineItemDetails.Destination__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Category__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>VIP Airport Transfers</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLineItemDetails.Additional_Details__c</objectFieldReference>
        </fields>
        <fields>
            <name>VIP_Airport_services_edit_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VIP_Airport_services_edit_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Driver_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varR_OpportunityLineItemDetails.Contact_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Driver Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Driver_Number</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Driver Number</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>varR_OpportunityLineItemDetails.Contact_Number__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Category__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>VIP Airport Transfers</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VIP_Airport_services_edit_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VIP_Airport_services_edit_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Representative_Number</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Representative Number</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>varR_OpportunityLineItemDetails.Contact_Number__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Meeting_Point</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varR_OpportunityLineItemDetails.Request_Details__c</elementReference>
                    </defaultValue>
                    <fieldText>Meeting Point</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Category__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>VIP Airport Service / Lounge Access</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Category__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Airport Meet &amp; Greet</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Category__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Airport Express Check-In</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>VIP_Airport_services_view</name>
        <label>VIP Airport services view</label>
        <locationX>485</locationX>
        <locationY>347</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>VIP_Airport_services_edit</targetReference>
        </connector>
        <fields>
            <name>SupplierView</name>
            <extensionName>c:recordDetailFlowScreenComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnsize</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Supplier__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labels</name>
                <value>
                    <stringValue>Supplier</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varT_Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Booking_Details</name>
            <fieldText>Booking Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Booking_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DateTime</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Arival_Date__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Date &amp; Time</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>TravelerDetails</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Sub_Type__c,Category__c,Booking__c,Flight_Number__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Type,Category,Number of Travelers,Flight Number</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>destinationDetails</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Destination__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Destination</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Category__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>VIP Airport Transfers</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Additional_Details</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Additional_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Additional Details</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Backoffice_Details</name>
            <fieldText>Backoffice Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Backoffice_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DriverDetails</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Contact_Name__c,Contact_Number__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Driver Name, Driver Number</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Category__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>VIP Airport Transfers</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>RepresentativeNumber</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Contact_Number__c,Request_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Representative Number, Meeting Point</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Category__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>VIP Airport Service / Lounge Access</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Category__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Airport Meet &amp; Greet</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Category__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Airport Express Check-In</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Edit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>362</locationX>
        <locationY>65</locationY>
        <connector>
            <targetReference>Get_OpportunityLineItemDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_OpportunityLineItemDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opprtunity_Line_Item_Details__c</objectType>
    </variables>
    <variables>
        <name>varT_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
