force-app/main/default/flows/ScreenFlow_LifeStyle_Management.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_UniqueFields</name>
        <label>Set UniqueFields</label>
        <locationX>524</locationX>
        <locationY>601</locationY>
        <assignmentItems>
            <assignToReference>varR_opportunityLineItemDetails.Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supplier.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OpportunityLineItemDetails</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>ScreenFlow: LifeStyle Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow: LifeStyle Management</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_OpportunityLineItemDetails</name>
        <label>Get OpportunityLineItemDetails</label>
        <locationX>528</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LifeStyle_view</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_Id</elementReference>
            </value>
        </filters>
        <object>Opprtunity_Line_Item_Details__c</object>
        <outputReference>varR_opportunityLineItemDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Sub_Type__c</queriedFields>
        <queriedFields>Additional_Details__c</queriedFields>
        <queriedFields>Supplier__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_OpportunityLineItemDetails</name>
        <label>Update OpportunityLineItemDetails</label>
        <locationX>309</locationX>
        <locationY>466</locationY>
        <connector>
            <targetReference>LifeStyle_view</targetReference>
        </connector>
        <inputReference>varR_opportunityLineItemDetails</inputReference>
    </recordUpdates>
    <screens>
        <name>LifeStyle_edit</name>
        <label>LifeStyle edit</label>
        <locationX>524</locationX>
        <locationY>468</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_UniqueFields</targetReference>
        </connector>
        <fields>
            <name>Supplier</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Supplier__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Supplier</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varR_opportunityLineItemDetails.Supplier__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_opportunityLineItemDetails.Catalogue__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_opportunityLineItemDetails.Additional_Details__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LifeStyle_view</name>
        <label>LifeStyle view</label>
        <locationX>526</locationX>
        <locationY>337</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LifeStyle_edit</targetReference>
        </connector>
        <fields>
            <name>BasicData</name>
            <extensionName>c:recordDetailFlowScreenComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnsize</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Supplier__c, Catalogue__c,Additional_Details__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varT_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labels</name>
                <value>
                    <stringValue>Supplier,Catalogue,Additional Details</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Edit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>403</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_OpportunityLineItemDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_opportunityLineItemDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opprtunity_Line_Item_Details__c</objectType>
    </variables>
    <variables>
        <name>varT_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
