force-app/main/default/flows/ScreenFlow_OpportunityLineItemDetails_view.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_IDForExistingOnProduct</name>
        <label>Set IDForExistingOnProduct</label>
        <locationX>802</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>varT_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OpportunityLineItemDetailsFromProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunityLineItemDetails.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OpportunityLineItemDetailsFromProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunityLineItemDetails.Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OpportunityLineItemDetailsFromProduct.Sub_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_OpportunityLineItemDetails_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_IDforNewRecord</name>
        <label>Set IDforNewRecord</label>
        <locationX>1006</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>varT_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_opportunityLineItemDetails.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_OpportunityProduct.Opportunity_Line_Item_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_opportunityLineItemDetails.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_opportunityProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SubType</name>
        <label>Set SubType</label>
        <locationX>1133</locationX>
        <locationY>178</locationY>
        <assignmentItems>
            <assignToReference>varR_opportunityLineItemDetails.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OpportunityProduct.Product2.Family</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunityLineItemDetails.Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OpportunityProduct.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunityLineItemDetails.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OpportunityProduct.Opportunity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunityLineItemDetails.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>/</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunityLineItemDetails.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_OpportunityProduct.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunityLineItemDetails.Opportunity_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OpportunityProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_OpportunityLineItemDetails</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_existingOpportunityLineItemDetails</name>
        <label>Check existingOpportunityLineItemDetails</label>
        <locationX>880</locationX>
        <locationY>187</locationY>
        <defaultConnector>
            <targetReference>Set_SubType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OpportunityLineItemDetailsFromProduct</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_IDForExistingOnProduct</targetReference>
            </connector>
            <label>Is Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_OpportunityLineItemDetails_Type</name>
        <label>Check OpportunityLineItemDetails Type</label>
        <locationX>523</locationX>
        <locationY>520</locationY>
        <defaultConnector>
            <targetReference>LifeStyle_Management</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Flight</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_opportunityLineItemDetails.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flight Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flight_Managment</targetReference>
            </connector>
            <label>Is Flight</label>
        </rules>
        <rules>
            <name>Is_Accommodation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_opportunityLineItemDetails.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accommodation Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accommodation_Managment</targetReference>
            </connector>
            <label>Is Accommodation</label>
        </rules>
        <rules>
            <name>Is_Health_Vacine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_opportunityLineItemDetails.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Health and Vaccine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Health_Vacine_Mangment</targetReference>
            </connector>
            <label>Is Health &amp; Vacine</label>
        </rules>
        <rules>
            <name>Is_Specialty_Travel_Planning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_opportunityLineItemDetails.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Specialty Travel Planning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Specialty_Travel_Planning</targetReference>
            </connector>
            <label>Is Specialty Travel Planning</label>
        </rules>
        <rules>
            <name>Is_Event_Ticketing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_opportunityLineItemDetails.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Event Ticketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Ticketing</targetReference>
            </connector>
            <label>Is Event Ticketing</label>
        </rules>
        <rules>
            <name>Is_Dining_Nightspots_Reservations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_opportunityLineItemDetails.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dining &amp; Nightspots Reservations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dining_Nightspots_Reservation</targetReference>
            </connector>
            <label>Is Dining &amp; Nightspots Reservations</label>
        </rules>
        <rules>
            <name>Is_Visa_Management</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_opportunityLineItemDetails.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visa Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Visa_Manganet</targetReference>
            </connector>
            <label>Is Visa Management</label>
        </rules>
        <rules>
            <name>Is_Excursions_Planning_Travel_Experiences</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_opportunityLineItemDetails.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Excursions Planning / Travel Experiences</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Excursions_Planning</targetReference>
            </connector>
            <label>Is Excursions Planning / Travel Experiences</label>
        </rules>
        <rules>
            <name>Is_VIP_Airport_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_opportunityLineItemDetails.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIP Airport Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VIP_Airport_services</targetReference>
            </connector>
            <label>Is VIP Airport Services</label>
        </rules>
        <rules>
            <name>Transport_Arrangement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_opportunityLineItemDetails.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transport Arrangement - Booking</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transfer_Arrangement</targetReference>
            </connector>
            <label>Transport Arrangement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_is_existing</name>
        <label>Check Record is existing</label>
        <locationX>521</locationX>
        <locationY>196</locationY>
        <defaultConnector>
            <targetReference>Get_OpportunityProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OpportunityLineItemDetails</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ScreenFlow: Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow: OpportunityLineItemDetails view</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_OpportunityLineItemDetails</name>
        <label>Create OpportunityLineItemDetails</label>
        <locationX>1151</locationX>
        <locationY>497</locationY>
        <connector>
            <targetReference>Set_IDforNewRecord</targetReference>
        </connector>
        <inputReference>varR_opportunityLineItemDetails</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_OpportunityLineItemDetails</name>
        <label>Get OpportunityLineItemDetails</label>
        <locationX>527</locationX>
        <locationY>372</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_OpportunityLineItemDetails_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_Id</elementReference>
            </value>
        </filters>
        <object>Opprtunity_Line_Item_Details__c</object>
        <outputReference>varR_opportunityLineItemDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sub_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_OpportunityLineItemDetailsFromProduct</name>
        <label>Get OpportunityLineItemDetailsFromProduct</label>
        <locationX>758</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_existingOpportunityLineItemDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OpportunityProduct.Opportunity_Line_Item_Details__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opprtunity_Line_Item_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OpportunityProduct</name>
        <label>Get OpportunityProduct</label>
        <locationX>643</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OpportunityLineItemDetailsFromProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_ProductId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_opportunityProduct</name>
        <label>Update opportunityProduct</label>
        <locationX>858</locationX>
        <locationY>500</locationY>
        <connector>
            <targetReference>Check_OpportunityLineItemDetails_Type</targetReference>
        </connector>
        <inputReference>Get_OpportunityProduct</inputReference>
    </recordUpdates>
    <start>
        <locationX>403</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Record_is_existing</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Accommodation_Managment</name>
        <label>Accommodation Managment</label>
        <locationX>527</locationX>
        <locationY>671</locationY>
        <flowName>Screenflow_Accommodation_Managment_view</flowName>
        <inputAssignments>
            <name>varT_Id</name>
            <value>
                <elementReference>varT_Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Dining_Nightspots_Reservation</name>
        <label>Dining &amp; Nightspots Reservation</label>
        <locationX>441</locationX>
        <locationY>717</locationY>
        <flowName>ScreenFlow_Dining_Nightspots_Reservation</flowName>
        <inputAssignments>
            <name>varT_Id</name>
            <value>
                <elementReference>varT_Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Event_Ticketing</name>
        <label>Event Ticketing</label>
        <locationX>185</locationX>
        <locationY>617</locationY>
        <flowName>ScreenFlow_Event_Ticketing</flowName>
        <inputAssignments>
            <name>varT_Id</name>
            <value>
                <elementReference>varT_Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Excursions_Planning</name>
        <label>Excursions Planning</label>
        <locationX>812</locationX>
        <locationY>900</locationY>
        <flowName>ScreenFlow_Excursions_Planning_view</flowName>
        <inputAssignments>
            <name>varT_Id</name>
            <value>
                <elementReference>varT_Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Flight_Managment</name>
        <label>Flight Managment</label>
        <locationX>308</locationX>
        <locationY>649</locationY>
        <flowName>ScreenFlow_Flight_Management_view</flowName>
        <inputAssignments>
            <name>varT_Id</name>
            <value>
                <elementReference>varT_Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Health_Vacine_Mangment</name>
        <label>Health &amp; Vacine Mangment</label>
        <locationX>643</locationX>
        <locationY>677</locationY>
        <flowName>ScreenFlow_Health_Vacine_Mangment</flowName>
        <inputAssignments>
            <name>varT_Id</name>
            <value>
                <elementReference>varT_Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>LifeStyle_Management</name>
        <label>LifeStyle Management</label>
        <locationX>1035</locationX>
        <locationY>821</locationY>
        <flowName>ScreenFlow_LifeStyle_Management</flowName>
        <inputAssignments>
            <name>varT_Id</name>
            <value>
                <elementReference>varT_Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Specialty_Travel_Planning</name>
        <label>Specialty Travel Planning</label>
        <locationX>821</locationX>
        <locationY>641</locationY>
        <flowName>Screenflow_Specialty_Travel_Planning</flowName>
        <inputAssignments>
            <name>varT_Id</name>
            <value>
                <elementReference>varT_Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Transfer_Arrangement</name>
        <label>Transfer Arrangement</label>
        <locationX>660</locationX>
        <locationY>866</locationY>
        <flowName>ScreenFlow_Transfer_Arrangement_view</flowName>
        <inputAssignments>
            <name>varT_Id</name>
            <value>
                <elementReference>varT_Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>VIP_Airport_services</name>
        <label>VIP Airport services</label>
        <locationX>954</locationX>
        <locationY>617</locationY>
        <flowName>ScreenFlow_VIP_Airport_services</flowName>
        <inputAssignments>
            <name>varT_Id</name>
            <value>
                <elementReference>varT_Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Visa_Manganet</name>
        <label>Visa Manganet</label>
        <locationX>535</locationX>
        <locationY>860</locationY>
        <flowName>ScreenFlow_Visa_Manganet_Flow</flowName>
        <inputAssignments>
            <name>varT_Id</name>
            <value>
                <elementReference>varT_Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varR_opportunityLineItemDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opprtunity_Line_Item_Details__c</objectType>
    </variables>
    <variables>
        <name>varR_OpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varT_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varT_ProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
