force-app/main/default/flows/ScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>assign_ItemDetails</name>
        <label>assign ItemDetails</label>
        <locationX>1456</locationX>
        <locationY>3107</locationY>
        <actionName>AssignById</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SetServiceMember</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>opportunityItemDetails</name>
            <value>
                <elementReference>varR_opportunityLineItemsDetails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityProduct</name>
            <value>
                <elementReference>varR_OpportunityProducts</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SetServiceMember</name>
        <label>SetServiceMember</label>
        <locationX>1467</locationX>
        <locationY>3230</locationY>
        <actionName>SetServiceMember</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_RequestNumber</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>opportunityProduct</name>
            <value>
                <elementReference>varR_OpportunityProducts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceContactMap</name>
            <value>
                <elementReference>varA_ServiceContactMaps</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Remove_added_Opportunity</name>
        <label>Remove added Opportunity</label>
        <locationX>219</locationX>
        <locationY>2469</locationY>
        <assignmentItems>
            <assignToReference>varT_OpportunityTypes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_RemoveaddedOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Wich</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RemoveCe</name>
        <label>RemoveCreatedServices</label>
        <locationX>1156</locationX>
        <locationY>3055</locationY>
        <assignmentItems>
            <assignToReference>varR_Services</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_EmptyServices</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunityLineItemsDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOut_opportunityLineItemsDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account</name>
        <label>Set Account</label>
        <locationX>843</locationX>
        <locationY>582</locationY>
        <assignmentItems>
            <assignToReference>varR_Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactAccount.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactAccount.recordName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Contact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactAccount.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_for_new_Contact</name>
        <label>Set Account for new Contact</label>
        <locationX>577</locationX>
        <locationY>1375</locationY>
        <assignmentItems>
            <assignToReference>varR_Contact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_NewContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ContactList</name>
        <label>Set ContactList</label>
        <locationX>711</locationX>
        <locationY>1736</locationY>
        <assignmentItems>
            <assignToReference>varR_Contacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_NewAccount</name>
        <label>Set New Account</label>
        <locationX>569</locationX>
        <locationY>1146</locationY>
        <assignmentItems>
            <assignToReference>varR_Account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Account.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Client_Record_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Account.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Account.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_Contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity</name>
        <label>Set Opportunity</label>
        <locationX>539</locationX>
        <locationY>2453</locationY>
        <assignmentItems>
            <assignToReference>varR_opportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunity.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunity.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forT_GetopportunityType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunity.Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_request.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunity.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_pricebook.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_GetopportunityType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OpportunityTypes</name>
        <label>Set_OpportunityTypes</label>
        <locationX>716</locationX>
        <locationY>2348</locationY>
        <assignmentItems>
            <assignToReference>varT_OpportunityTypes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_Opportunity_Type.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_OpportunityTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Request</name>
        <label>Set Request</label>
        <locationX>706</locationX>
        <locationY>1529</locationY>
        <assignmentItems>
            <assignToReference>varR_request.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_request.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reservation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Standard_Pricebook</name>
        <label>Set Standard Pricebook</label>
        <locationX>717</locationX>
        <locationY>2075</locationY>
        <assignmentItems>
            <assignToReference>varR_pricebook</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_Pricebook</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSubType</name>
        <label>SetSubTypeConcierge</label>
        <locationX>917</locationX>
        <locationY>2855</locationY>
        <assignmentItems>
            <assignToReference>varT_SubType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConciergeRequest_Options.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_SubType</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SubFlow_Create_Services</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSubTypeLifesytel</name>
        <label>SetSubTypeLifesytel</label>
        <locationX>669</locationX>
        <locationY>2918</locationY>
        <assignmentItems>
            <assignToReference>varT_SubType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LifestyleRequest_Options.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_SubType</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SubFlow_Create_Services</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSubTypeTravel</name>
        <label>SetSubTypeTravel</label>
        <locationX>392</locationX>
        <locationY>2855</locationY>
        <assignmentItems>
            <assignToReference>varT_SubType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TravelRequest_Options.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_SubType</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SubFlow_Create_Services</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Existing_Contact</name>
        <label>check Existing Contact</label>
        <locationX>698</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>GetExistingContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_new_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collect_MainContact.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Contact</targetReference>
            </connector>
            <label>is new Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_account_existing</name>
        <label>Is account existing</label>
        <locationX>577</locationX>
        <locationY>584</locationY>
        <defaultConnector>
            <targetReference>Set_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_new_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactAccount.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Client_Record_Id</targetReference>
            </connector>
            <label>Is new account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_Opportunities</name>
        <label>Is there Opportunities</label>
        <locationX>708</locationX>
        <locationY>2514</locationY>
        <defaultConnector>
            <targetReference>Create_OpportunitylineItemdetail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>opportunity_to_be_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_OpportunityTypes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity</targetReference>
            </connector>
            <label>opportunity to be created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Wich</name>
        <label>WhichSubTypeselected</label>
        <locationX>654</locationX>
        <locationY>2728</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Travel_is_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TravelRequest_Options.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_opportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSubTypeTravel</targetReference>
            </connector>
            <label>Travel is selected</label>
        </rules>
        <rules>
            <name>LifeStyle_is_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LifestyleRequest_Options.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_opportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lifestyle Management Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSubTypeLifesytel</targetReference>
            </connector>
            <label>LifeStyle is selected</label>
        </rules>
        <rules>
            <name>Concierge_is_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConciergeRequest_Options.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_opportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Concierge Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSubType</targetReference>
            </connector>
            <label>Concierge is selected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forT_GetopportunityType</name>
        <dataType>String</dataType>
        <expression>LEFT({!varT_OpportunityTypes},(FIND(&quot;;&quot;, {!varT_OpportunityTypes}))-1)</expression>
    </formulas>
    <formulas>
        <description>separate one service from list</description>
        <name>forT_GetService</name>
        <dataType>String</dataType>
        <expression>LEFT({!varT_SubType},(FIND(&quot;;&quot;, {!varT_SubType}))-1)</expression>
    </formulas>
    <formulas>
        <name>forT_RemoveaddedOpportunity</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!varT_OpportunityTypes},(LEN({!varT_OpportunityTypes})-(FIND(&quot;;&quot;,{!varT_OpportunityTypes})))))</expression>
    </formulas>
    <formulas>
        <name>forT_RemoveaddedService</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!varT_SubType},(LEN({!varT_SubType})-(FIND(&quot;;&quot;,{!varT_SubType})))))</expression>
    </formulas>
    <interviewLabel>ScreenFlow: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow:Create Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>569</locationX>
        <locationY>1269</locationY>
        <connector>
            <targetReference>Set_Account_for_new_Contact</targetReference>
        </connector>
        <inputReference>varR_Account</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_NewContact</name>
        <label>Create NewContact</label>
        <locationX>564</locationX>
        <locationY>1499</locationY>
        <connector>
            <targetReference>Set_Request</targetReference>
        </connector>
        <inputReference>varR_Contact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>365</locationX>
        <locationY>2458</locationY>
        <connector>
            <targetReference>Remove_added_Opportunity</targetReference>
        </connector>
        <inputReference>varR_opportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_OpportunitylineItemdetail</name>
        <label>Create OpportunitylineItemdetails</label>
        <locationX>1321</locationX>
        <locationY>2532</locationY>
        <connector>
            <targetReference>Create_PricebookEntries</targetReference>
        </connector>
        <inputReference>varR_opportunityLineItemsDetails</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_OpportunityProduct</name>
        <label>Create OpportunityProduct</label>
        <locationX>1313</locationX>
        <locationY>3115</locationY>
        <connector>
            <targetReference>assign_ItemDetails</targetReference>
        </connector>
        <inputReference>varR_OpportunityProducts</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_PricebookEntries</name>
        <label>Create PricebookEntries</label>
        <locationX>1317</locationX>
        <locationY>2851</locationY>
        <connector>
            <targetReference>Create_OpportunityProduct</targetReference>
        </connector>
        <inputReference>varR_PricebookEntries</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Request</name>
        <label>Create Request</label>
        <locationX>714</locationX>
        <locationY>1833</locationY>
        <connector>
            <targetReference>Get_Standard_Pricebook</targetReference>
        </connector>
        <inputReference>varR_request</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Client_Record_Id</name>
        <label>Get Client Record Id</label>
        <locationX>569</locationX>
        <locationY>1026</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_NewAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>715</locationX>
        <locationY>1642</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_ContactList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ExsistingAccount</name>
        <label>Get ExsistingAccount</label>
        <locationX>355</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_Contact.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varR_Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_RequestNumber</name>
        <label>Get RequestNumber</label>
        <locationX>1572</locationX>
        <locationY>3253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CloseScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_request.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Pricebook</name>
        <label>Get Standard Pricebook</label>
        <locationX>717</locationX>
        <locationY>1956</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Standard_Pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetExistingContact</name>
        <label>GetExistingContact</label>
        <locationX>433</locationX>
        <locationY>417</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ExsistingAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Collect_MainContact.recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varR_Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <screens>
        <name>CloseScreen</name>
        <label>CloseScreen</label>
        <locationX>1732</locationX>
        <locationY>3258</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DoneImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>DoneImage</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CloseStatment</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(30, 42, 101); font-size: 14px;&quot;&gt;Reservation Request No.&lt;/strong&gt;&lt;strong style=&quot;color: rgb(28, 147, 54); font-size: 14px;&quot;&gt;{!Get_RequestNumber.CaseNumber} &lt;/strong&gt;&lt;strong style=&quot;color: rgb(30, 42, 101); font-size: 14px;&quot;&gt;has been successfully created.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Collect_Account</name>
        <label>Collect Account</label>
        <locationX>706</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_Existing_Contact</targetReference>
        </connector>
        <fields>
            <name>AccountStep</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Collect Contact information,Select requested services,Collect Service information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Collect Contact information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Path</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Collect_MainContact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Collect_Type</name>
        <label>Collect Type</label>
        <locationX>715</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_OpportunityTypes</targetReference>
        </connector>
        <fields>
            <name>RequestTypeStep</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Collect Contact information,Select requested services,Collect Service information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Select requested services</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Path</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Collect_Opportunity_Type</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>TypePicklist__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideDescription</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>ServiceType__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>Non Coverable Content</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageSize</name>
                <value>
                    <stringValue>x-large</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TravelRequest_Options</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>TypePicklist__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>TravelService__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Collect_Opportunity_Type.selectedValue</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Travel Services</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ConciergeRequest_Options</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>TypePicklist__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>Concierge__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Collect_Opportunity_Type.selectedValue</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Concierge Services</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LifestyleRequest_Options</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>LifeStyle__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>TypePicklist__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Collect_Opportunity_Type.selectedValue</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Lifestyle Management Services</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Contact</name>
        <label>New Contact</label>
        <locationX>1002</locationX>
        <locationY>385</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_account_existing</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_Contact.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_Contact.MobilePhone</objectFieldReference>
        </fields>
        <fields>
            <name>ContactAccount</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>580</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Collect_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SubFlow_Create_Services</name>
        <label>SubFlow: Create Services</label>
        <locationX>653</locationX>
        <locationY>3181</locationY>
        <connector>
            <targetReference>RemoveCe</targetReference>
        </connector>
        <flowName>SubFlow_Create_Group_of_Services</flowName>
        <inputAssignments>
            <name>varA_ServiceContactMaps</name>
            <value>
                <elementReference>varA_ServiceContactMaps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_opportunity</name>
            <value>
                <elementReference>varR_opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OpportunityProducts</name>
            <value>
                <elementReference>varR_OpportunityProducts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_pricebook</name>
            <value>
                <elementReference>varR_pricebook</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_request</name>
            <value>
                <elementReference>varR_request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_SubType</name>
            <value>
                <elementReference>varT_SubType</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varA_ServiceContactMaps</assignToReference>
            <name>varA_ServiceContactMaps</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOut_opportunityLineItemsDetails</assignToReference>
            <name>varR_opportunityLineItemsDetails</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varR_OpportunityProducts</assignToReference>
            <name>varR_OpportunityProducts</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varR_PricebookEntries</assignToReference>
            <name>varR_PricebookEntries</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varR_Services</assignToReference>
            <name>varR_Services</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>VarA_ServiceContactMap</name>
        <apexClass>ServiceContactMap</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varA_ServiceContactMaps</name>
        <apexClass>ServiceContactMap</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAOut_ServiceContactMaps</name>
        <apexClass>ServiceContactMap</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varC_SelectedContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varOut_opportunityLineItemsDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opprtunity_Line_Item_Details__c</objectType>
    </variables>
    <variables>
        <name>varR_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varR_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varR_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varR_EmptyServices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varR_opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varR_opportunityLineItemsDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opprtunity_Line_Item_Details__c</objectType>
    </variables>
    <variables>
        <name>varR_OpportunityLinetemDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opprtunity_Line_Item_Details__c</objectType>
    </variables>
    <variables>
        <name>varR_OpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varR_OpportunityProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varR_pricebook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>varR_PricebookEntries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>varR_PricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>varR_request</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varR_SelectedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varR_Service</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varR_ServiceMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Member__c</objectType>
    </variables>
    <variables>
        <name>varR_ServiceMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Member__c</objectType>
    </variables>
    <variables>
        <name>varR_Services</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varR_TotalItemDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opprtunity_Line_Item_Details__c</objectType>
    </variables>
    <variables>
        <name>varROut_OpportunityProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varROut_PricebookEntries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>varROut_Services</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varT_OpportunityTypes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_SubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
