force-app/main/default/flows/ScreenFlow_Flight_Management_view.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_uniqueFields</name>
        <label>Set_uniqueFields</label>
        <locationX>517</locationX>
        <locationY>525</locationY>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Confirmation_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flight_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supplier.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_OpportunityLineItemDetails</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>ScreenFlow: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow: Flight Management view</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_opportunityLineItemDetails</name>
        <label>Get_opportunityLineItemDetails</label>
        <locationX>529</locationX>
        <locationY>165</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flight_Management_view</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_Id</elementReference>
            </value>
        </filters>
        <object>Opprtunity_Line_Item_Details__c</object>
        <outputReference>varR_OpportunityLineItemDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Departure__c</queriedFields>
        <queriedFields>Departure_Date__c</queriedFields>
        <queriedFields>Arival_Date__c</queriedFields>
        <queriedFields>Destination__c</queriedFields>
        <queriedFields>Supplier__c</queriedFields>
        <queriedFields>Departure_1__c</queriedFields>
        <queriedFields>Departure_2__c</queriedFields>
        <queriedFields>Departure_3__c</queriedFields>
        <queriedFields>Departure_4__c</queriedFields>
        <queriedFields>Departure_Date_1__c</queriedFields>
        <queriedFields>Departure_Date_2__c</queriedFields>
        <queriedFields>Departure_Date_3__c</queriedFields>
        <queriedFields>Departure_Date_4__c</queriedFields>
        <queriedFields>Destination_1__c</queriedFields>
        <queriedFields>Destination_2__c</queriedFields>
        <queriedFields>Destination_3__c</queriedFields>
        <queriedFields>Destination_4__c</queriedFields>
        <queriedFields>Class__c</queriedFields>
        <queriedFields>Child_0_2yr__c</queriedFields>
        <queriedFields>Child_3_12yr__c</queriedFields>
        <queriedFields>Adult__c</queriedFields>
        <queriedFields>Citizenship__c</queriedFields>
        <queriedFields>Trip_type__c</queriedFields>
        <queriedFields>Sub_Type__c</queriedFields>
        <queriedFields>Airline__c</queriedFields>
        <queriedFields>Confirmation_Number__c</queriedFields>
        <queriedFields>Arival_Date1__c</queriedFields>
        <queriedFields>Change_Policy__c</queriedFields>
        <queriedFields>Cancellation_Policy__c</queriedFields>
        <queriedFields>Additional_Details__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_OpportunityLineItemDetails</name>
        <label>update_OpportunityLineItemDetails</label>
        <locationX>161</locationX>
        <locationY>340</locationY>
        <connector>
            <targetReference>Flight_Management_view</targetReference>
        </connector>
        <inputReference>varR_OpportunityLineItemDetails</inputReference>
    </recordUpdates>
    <screens>
        <name>Flight_Management_edit</name>
        <label>Flight Management edit</label>
        <locationX>516</locationX>
        <locationY>400</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_uniqueFields</targetReference>
        </connector>
        <fields>
            <name>Supplier</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Supplier__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Supplier</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varR_OpportunityLineItemDetails.Supplier__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLineItemDetails.Catalogue__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLineItemDetails.Trip_type__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLineItemDetails.Class__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLineItemDetails.Airline__c</objectFieldReference>
        </fields>
        <fields>
            <name>Depart_Details</name>
            <fieldText>Depart Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Depart_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Departure__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Destination__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Flight_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varR_OpportunityLineItemDetails.Confirmation_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Flight Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Departure_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Arival_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>One-way</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>RoundTrip</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Return_Details</name>
            <fieldText>Return Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Return_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Departure_Date_1__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Arival_Date1__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>RoundTrip</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight_1</name>
            <fieldText>Flight 1</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight_1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Departure__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Destination__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Departure_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>MultiCity_button.Current_Number_Of_Fields</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Departure__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight_2</name>
            <fieldText>Flight 2</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight_2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Departure_1__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Destination_1__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Departure_Date_1__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>3 AND (1 OR 2)</conditionLogic>
                <conditions>
                    <leftValueReference>MultiCity_button.Current_Number_Of_Fields</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Departure_1__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight_3</name>
            <fieldText>Flight 3</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight_3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Departure_2__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Destination_2__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Departure_Date_2__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>3 AND (1 OR 2)</conditionLogic>
                <conditions>
                    <leftValueReference>MultiCity_button.Current_Number_Of_Fields</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>3.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Departure_2__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight_4</name>
            <fieldText>Flight 4</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight_4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Departure_3__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Destination_3__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Departure_Date_3__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>3 AND (1 OR 2)</conditionLogic>
                <conditions>
                    <leftValueReference>MultiCity_button.Current_Number_Of_Fields</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>4.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Departure_3__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight_5</name>
            <fieldText>Flight 5</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight_5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Departure_4__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Destination_4__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Departure_Date_4__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>3 AND (1 OR 2)</conditionLogic>
                <conditions>
                    <leftValueReference>MultiCity_button.Current_Number_Of_Fields</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>5.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Departure_4__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MultiCity_button</name>
            <extensionName>c:incrementAndDecrementButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Add_Button_Label</name>
                <value>
                    <stringValue>Add Flight</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Remove_Button_Label</name>
                <value>
                    <stringValue>Remove Flight</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Current_Number_Of_Fields</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Maximum_Number_Of_Fields</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLineItemDetails.Change_Policy__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLineItemDetails.Cancellation_Policy__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLineItemDetails.Additional_Details__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Flight_Management_view</name>
        <label>Flight Management view</label>
        <locationX>521</locationX>
        <locationY>287</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Flight_Management_edit</targetReference>
        </connector>
        <fields>
            <name>requestDetails</name>
            <extensionName>c:recordDetailFlowScreenComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnsize</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Supplier__r.Name,Catalogue__c,Trip_type__c,Class__c,Airline__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varT_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labels</name>
                <value>
                    <stringValue>Supplier,Catalogue__c,Trip Type,Class,Airline</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DepartDetails</name>
            <fieldText>Depart Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DepartDetails_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>bookDetails</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Departure__c,Destination__c,Departure_Date__c,Arival_Date__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Departure,Destination,Departure Date,Arrival Date</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>One-way</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>RoundTrip</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ReturnDetails</name>
            <fieldText>Return Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ReturnDetails_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>return</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Departure_Date_1__c,Arival_Date1__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Departure Date,Arrival Date</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>RoundTrip</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight1</name>
            <fieldText>Flight 1</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Flight1Details</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>4.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Departure__c,Destination__c,Departure_Date__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Departure,Destination,Departure Date</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>(1 AND 2) AND 3 AND 4</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>MultiCity_button.Current_Number_Of_Fields</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Destination__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Departure__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight2</name>
            <fieldText>Flight 2</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Flight2Details</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>4.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Departure,Destination,Departure Date</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Departure_1__c,Destination_1__c,Departure_Date_1__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>(1 AND 2) AND 3 AND 4</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>MultiCity_button.Current_Number_Of_Fields</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Destination_1__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Departure_1__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight3</name>
            <fieldText>Flight 3</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Flight3Details</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>4.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Departure_2__c,Destination_2__c,Departure_Date_2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Departure,Destination,Departure Date</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>(1 AND 2) AND 3 AND 4</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>MultiCity_button.Current_Number_Of_Fields</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>3.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Destination_2__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Departure_2__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight4</name>
            <fieldText>Flight 4</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Flight4Details</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>4.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Departure_3__c,Destination_3__c,Departure_Date_3__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Departure,Destination,Departure Date</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>(1 AND 2) AND 3 AND 4</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>MultiCity_button.Current_Number_Of_Fields</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>4.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Destination_3__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Departure_3__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight5</name>
            <fieldText>Flight 5</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Flight5Details</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>4.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Departure_4__c,Destination_4__c,Departure_Date_4__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Departure,Destination,Departure Date</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>(1 AND 2) AND 3 AND 4</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>MultiCity_button.Current_Number_Of_Fields</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>5.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Destination_4__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Departure_4__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Booking_Details</name>
            <fieldText>Booking Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Booking_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>bookingDetails</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Change_Policy__c,Cancellation_Policy__c,Additional_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Change Policy,Cancellation Policy,Additional Details</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Edit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>403</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_opportunityLineItemDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_OpportunityLineItemDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opprtunity_Line_Item_Details__c</objectType>
    </variables>
    <variables>
        <name>varT_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
