force-app/main/default/flows/ScreenFlow_New_Service_on_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_AvailableBalance</name>
        <label>Set AvailableBalance</label>
        <locationX>651</locationX>
        <locationY>1661</locationY>
        <assignmentItems>
            <assignToReference>varN_AvailableBalance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Through_selected_Contacts.Balance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varN_AvailableBalance</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Through_selected_Contacts.Total_Hold__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Balance_available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ContactsToServe</name>
        <label>Set ContactsToServe</label>
        <locationX>973</locationX>
        <locationY>1438</locationY>
        <assignmentItems>
            <assignToReference>varR_ContactsToAddService</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Through_selected_Contacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Through_selected_Contacts.Total_Hold__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_Service.Points__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Through_selected_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Extra_Charges</name>
        <label>Set Extra Charges</label>
        <locationX>1162</locationX>
        <locationY>1438</locationY>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItem.Extra_Charges__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_ContactsToServe</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OpportunityLineItem</name>
        <label>Set OpportunityLineItem</label>
        <locationX>612</locationX>
        <locationY>2184</locationY>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Service.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Service.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItem.Opportunity_Line_Item_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_OpportunityLineItemDetails.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_OpportunityLineItemDetails.Adult__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItem.Quantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_OpportunityLineItemDetails.Child_0_2yr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItem.Quantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_OpportunityLineItemDetails.Child_3_12yr__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_OpportunityLineItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OpportunityLineItemDetails</name>
        <label>Set OpportunityLineItemDetails</label>
        <locationX>552</locationX>
        <locationY>946</locationY>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>/</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varT_SubType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_SubType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Adult__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Child_0_2yr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Child_3_12yr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_OpportunityLineItemDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_opportunityLineItemPriceEntry</name>
        <label>Set opportunityLineItemPriceEntry</label>
        <locationX>735</locationX>
        <locationY>2064</locationY>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_PriceBookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_OpportunityLineItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PriceBookEntry</name>
        <label>Set PriceBookEntry</label>
        <locationX>980</locationX>
        <locationY>2023</locationY>
        <assignmentItems>
            <assignToReference>varR_PriceBookEntry.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Service.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_PriceBookEntry.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Service.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_PriceBookEntry.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PriceBook.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_PriceBookEntry.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_PriceBookEntry.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PriceBook_entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Quantity</name>
        <label>set Quantity</label>
        <locationX>542</locationX>
        <locationY>282</locationY>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Service</name>
        <label>Set Service</label>
        <locationX>733</locationX>
        <locationY>1931</locationY>
        <assignmentItems>
            <assignToReference>varR_Service.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_SubType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Service.Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Service.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Service_member</name>
        <label>Set Service member</label>
        <locationX>1324</locationX>
        <locationY>2194</locationY>
        <assignmentItems>
            <assignToReference>varR_ServiceMember.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>through_Service_members.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ServiceMember.Opportunity_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_OpportunityLineItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ServiceMember.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>through_Service_members.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ServiceMember.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>through_Service_members.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ServiceMember.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>through_Service_members.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Service_members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Service_members</name>
        <label>Set Service members</label>
        <locationX>1333</locationX>
        <locationY>2060</locationY>
        <assignmentItems>
            <assignToReference>varR_ServiceMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_ServiceMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>through_Service_members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SubType_Concierge</name>
        <label>Set SubType_Concierge</label>
        <locationX>724</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>varT_SubType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Concierge_Options.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_OpportunityLineItemDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SubType_LifeStyle</name>
        <label>Set SubType_LifeStyle</label>
        <locationX>552</locationX>
        <locationY>752</locationY>
        <assignmentItems>
            <assignToReference>varT_SubType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lifestyle_Options.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_OpportunityLineItemDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SubType_Travel</name>
        <label>Set SubType_Travel</label>
        <locationX>386</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>varT_SubType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Travel_Options.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_OpportunityLineItemDetails</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_add_with_Extra_Charges</name>
        <label>Check add with Extra Charges</label>
        <locationX>1125</locationX>
        <locationY>1735</locationY>
        <defaultConnector>
            <targetReference>Through_selected_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>apply_extra_charges</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Extra_Charges</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Extra_Charges</targetReference>
            </connector>
            <label>apply extra charges</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Balance_available</name>
        <label>Check Balance available</label>
        <locationX>785</locationX>
        <locationY>1664</locationY>
        <defaultConnector>
            <targetReference>Extra_Charge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Balance_is_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_AvailableBalance</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varR_Service.Points__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Through_selected_Contacts.Is_Member__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ContactsToServe</targetReference>
            </connector>
            <label>Balance is available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_available_for_service</name>
        <label>Check Contact available for service</label>
        <locationX>568</locationX>
        <locationY>1733</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Avalible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ContactsToAddService</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_OpportunityLineItemDetails</targetReference>
            </connector>
            <label>Contact Avalible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service</name>
        <label>Check Service</label>
        <locationX>593</locationX>
        <locationY>2021</locationY>
        <defaultConnector>
            <targetReference>Set_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Service</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OpportunityLineItem</targetReference>
            </connector>
            <label>Is Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SubType</name>
        <label>Check SubType</label>
        <locationX>539</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Travel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Travel_Options.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SubType_Travel</targetReference>
            </connector>
            <label>Is Travel</label>
        </rules>
        <rules>
            <name>Is_LifeStyle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lifestyle_Options.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SubType_LifeStyle</targetReference>
            </connector>
            <label>Is LifeStyle</label>
        </rules>
        <rules>
            <name>Is_Concierge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Concierge_Options.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SubType_Concierge</targetReference>
            </connector>
            <label>Is Concierge</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ChocieSet_Concierge</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Concierge__c</picklistField>
        <picklistObject>TypePicklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSet_LifeStyle</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LifeStyle__c</picklistField>
        <picklistObject>TypePicklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSet_TravelPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TravelService__c</picklistField>
        <picklistObject>TypePicklist__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>forN_AvailableBalance</name>
        <dataType>Number</dataType>
        <expression>2</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>ScreenFlow: New Service on Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow: New Service on Opportunity</label>
    <loops>
        <name>Through_selected_Contacts</name>
        <label>Through selected Contacts</label>
        <locationX>595</locationX>
        <locationY>1446</locationY>
        <collectionReference>Contact_Name.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_AvailableBalance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Contact_available_for_service</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>through_Service_members</name>
        <label>through Service members</label>
        <locationX>1189</locationX>
        <locationY>2187</locationY>
        <collectionReference>varR_ContactsToAddService</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Service_member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Service_members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_OpportunityLineItem</name>
        <label>Create OpportunityLineItem</label>
        <locationX>915</locationX>
        <locationY>2187</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputReference>varR_OpportunityLineItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_OpportunityLineItemDetails</name>
        <label>Create OpportunityLineItemDetails</label>
        <locationX>598</locationX>
        <locationY>1883</locationY>
        <connector>
            <targetReference>Check_Service</targetReference>
        </connector>
        <inputReference>varR_OpportunityLineItemDetails</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_PriceBook_entry</name>
        <label>Create PriceBook entry</label>
        <locationX>833</locationX>
        <locationY>2056</locationY>
        <connector>
            <targetReference>Set_opportunityLineItemPriceEntry</targetReference>
        </connector>
        <inputReference>varR_PriceBookEntry</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Service</name>
        <label>Create Service</label>
        <locationX>852</locationX>
        <locationY>1930</locationY>
        <connector>
            <targetReference>Set_PriceBookEntry</targetReference>
        </connector>
        <inputReference>varR_Service</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_members</name>
        <label>Create Service members</label>
        <locationX>1490</locationX>
        <locationY>2189</locationY>
        <inputReference>varR_ServiceMembers</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>548</locationX>
        <locationY>411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SubType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>VarR_Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Is_Member__c</queriedFields>
        <queriedFields>Balance__c</queriedFields>
        <queriedFields>Total_Hold__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>536</locationX>
        <locationY>169</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_Quantity</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PriceBook</name>
        <label>Get PriceBook</label>
        <locationX>601</locationX>
        <locationY>1294</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Through_selected_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service</name>
        <label>Get Service</label>
        <locationX>595</locationX>
        <locationY>1173</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PriceBook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_SubType</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>varR_Service</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Points__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1041</locationX>
        <locationY>2180</locationY>
        <connector>
            <targetReference>through_Service_members</targetReference>
        </connector>
        <inputReference>varR_ContactsToAddService</inputReference>
    </recordUpdates>
    <screens>
        <name>Collect_OpportunityLineItemDetails</name>
        <label>Collect OpportunityLineItemDetails</label>
        <locationX>555</locationX>
        <locationY>1075</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Service</targetReference>
        </connector>
        <fields>
            <name>Collect_OpportunityLineItemDetails_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Collect_OpportunityLineItemDetails_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Name</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Trip_type__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Flight Management</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Event_Name__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Event Ticketing</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Collect_OpportunityLineItemDetails_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact_Name</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Main Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>VarR_Contact</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-977d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FirstName&quot;,&quot;guid&quot;:&quot;column-b154&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastName&quot;,&quot;guid&quot;:&quot;column-a689&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MobilePhone&quot;,&quot;guid&quot;:&quot;column-ea71&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Mobile Phone&quot;,&quot;type&quot;:&quot;phone&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Flight</name>
            <fieldText>Flight</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Departure_Date__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Flight Management</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Departure__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Arival_Date__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Flight Management</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Destination__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Flight Management</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>RoundTrip</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight_1</name>
            <fieldText>Flight 1</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight_1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Departure_1__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Destination_1__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Departure_Date_1__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>(1 AND 2 )OR (1 AND 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Travel_Destination.Current_Number_Of_Fields</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>One-way</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight_2</name>
            <fieldText>Flight 2</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight_2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Departure_2__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Destination_2__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Departure_Date_2__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Travel_Destination.Current_Number_Of_Fields</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight_3</name>
            <fieldText>Flight 3</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight_3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Departure_3__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Destination_3__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Departure_Date_3__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Travel_Destination.Current_Number_Of_Fields</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>3.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight_4</name>
            <fieldText>Flight 4</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight_4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Departure_4__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Destination_4__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Departure_Date_4__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Travel_Destination.Current_Number_Of_Fields</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>4.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Travel_Destination</name>
            <extensionName>c:incrementAndDecrementButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Add_Button_Label</name>
                <value>
                    <stringValue>Add Destination</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Remove_Button_Label</name>
                <value>
                    <stringValue>Remove Destination</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Current_Number_Of_Fields</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Maximum_Number_Of_Fields</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Flight Management</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLineItemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Collect_OpportunityLineItemDetails_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Collect_OpportunityLineItemDetails_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Start_Date__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Visa Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Health and Vaccine</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Accommodation Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Specialty Travel Planning</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Excursions Planning / Travel Experiences</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Dining &amp; Nightspots Reservations</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>VIP Airport Services</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Event Ticketing</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Departure__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transport Arrangement - Booking</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Adult__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Visa Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Health and Vaccine</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Flight Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Accommodation Management</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Number_of_guests__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Event Ticketing</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Dining &amp; Nightspots Reservations</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>VIP Airport Services</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Bed_size__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Accommodation Management</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Meal_Plan__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Accommodation Management</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Type_of_visa__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Visa Management</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Class__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Flight Management</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Sub_Type__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Health and Vaccine</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Specialty Travel Planning</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Excursions Planning / Travel Experiences</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Event Ticketing</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>VIP Airport Services</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transport Arrangement - Booking</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Category__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Health and Vaccine</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Specialty Travel Planning</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Excursions Planning / Travel Experiences</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Event Ticketing</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>VIP Airport Services</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transport Arrangement - Booking</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Citizenship__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Visa Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Flight Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Accommodation Management</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Hotel__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Accommodation Management</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Venu__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Dining &amp; Nightspots Reservations</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Promo_code__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Event Ticketing</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Collect_OpportunityLineItemDetails_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.End_Date__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Visa Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Accommodation Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Specialty Travel Planning</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Excursions Planning / Travel Experiences</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Destination__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Health and Vaccine</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Specialty Travel Planning</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Excursions Planning / Travel Experiences</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Excursions Planning / Travel Experiences</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>VIP Airport Services</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transport Arrangement - Booking</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Event Ticketing</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Child_0_2yr__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Visa Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Health and Vaccine</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Flight Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Accommodation Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Specialty Travel Planning</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Excursions Planning / Travel Experiences</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transport Arrangement - Booking</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Child_3_12yr__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Visa Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Health and Vaccine</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Flight Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Accommodation Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Specialty Travel Planning</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Excursions Planning / Travel Experiences</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transport Arrangement - Booking</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Airline__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Flight Management</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Room__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Accommodation Management</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Flight_Number__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Category__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>VIP Airport Transfers</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Category__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Airport Meet &amp; Greet</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Transport_Type__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transport Arrangement - Booking</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Time_slot__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLineItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Dining &amp; Nightspots Reservations</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLineItemDetails.Prefrence__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Extra_Charge</name>
        <label>Extra Charge</label>
        <locationX>970</locationX>
        <locationY>1774</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_add_with_Extra_Charges</targetReference>
        </connector>
        <fields>
            <name>Display_ExtraCharge</name>
            <fieldText>&lt;p&gt;{!Through_selected_Contacts.Name} does not have enough balance. Choose Extra Charges if you are wishing to continue with adding service.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Extra_Charges</name>
            <dataType>Boolean</dataType>
            <fieldText>Extra Charges</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Get_SubType</name>
        <label>Get SubType</label>
        <locationX>545</locationX>
        <locationY>515</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_SubType</targetReference>
        </connector>
        <fields>
            <name>Travel_Options</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>TypePicklist__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>TravelserviceSingle__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opportunity.Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Travel Services</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lifestyle_Options</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>TypePicklist__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>LifeStyleService__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opportunity.Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Lifestyle Management Services</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Concierge_Options</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>TypePicklist__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>ConciergeService__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opportunity.Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Concierge Services</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varN_AvailableBalance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarR_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varR_ContactsToAddService</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varR_OpportunityLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varR_OpportunityLineItemDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opprtunity_Line_Item_Details__c</objectType>
    </variables>
    <variables>
        <name>varR_PriceBookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>varR_Service</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varR_ServiceMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Member__c</objectType>
    </variables>
    <variables>
        <name>varR_ServiceMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Member__c</objectType>
    </variables>
    <variables>
        <name>varT_SubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
