force-app/main/default/flows/ScreenFlow_Dining_Nightspots_Reservation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_UniqueFileds</name>
        <label>Set UniqueFileds</label>
        <locationX>531</locationX>
        <locationY>637</locationY>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supplier.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Request_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmed_by</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Prefrence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Seating</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Guests</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Arival_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OpportunityLineItemDetails</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>ScreenFlow: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow: Dining &amp; Nightspots Reservation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_OpportunityLineItemDetails</name>
        <label>Get OpportunityLineItemDetails</label>
        <locationX>527</locationX>
        <locationY>229</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dining_Nightspots_Reservation_view</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_Id</elementReference>
            </value>
        </filters>
        <object>Opprtunity_Line_Item_Details__c</object>
        <outputReference>varR_OpportunityLineItemDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Arival_Date__c</queriedFields>
        <queriedFields>Venu__c</queriedFields>
        <queriedFields>Booking__c</queriedFields>
        <queriedFields>Supplier__c</queriedFields>
        <queriedFields>Additional_Details__c</queriedFields>
        <queriedFields>Confirmation_Number__c</queriedFields>
        <queriedFields>Cancellation_Policy__c</queriedFields>
        <queriedFields>Time_slot__c</queriedFields>
        <queriedFields>Prefrence__c</queriedFields>
        <queriedFields>Request_Details__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_OpportunityLineItemDetails</name>
        <label>Update OpportunityLineItemDetails</label>
        <locationX>196</locationX>
        <locationY>437</locationY>
        <connector>
            <targetReference>Get_OpportunityLineItemDetails</targetReference>
        </connector>
        <inputReference>varR_OpportunityLineItemDetails</inputReference>
    </recordUpdates>
    <screens>
        <name>Dining_Nightspots_Reservation_edit</name>
        <label>Dining &amp; Nightspots Reservation edit</label>
        <locationX>534</locationX>
        <locationY>496</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_UniqueFileds</targetReference>
        </connector>
        <fields>
            <name>Supplier</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Supplier__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Supplier</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varR_OpportunityLineItemDetails.Supplier__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLineItemDetails.Catalogue__c</objectFieldReference>
        </fields>
        <fields>
            <name>Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>varR_OpportunityLineItemDetails.Arival_Date__c</elementReference>
            </defaultValue>
            <fieldText>Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dining_Nightspots_Reservation_edit_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dining_Nightspots_Reservation_edit_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_Guests</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>varR_OpportunityLineItemDetails.Booking__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of Guests</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Venu__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dining_Nightspots_Reservation_edit_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Time_slot__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Seating</name>
                    <defaultValue>
                        <stringValue>{!varR_OpportunityLineItemDetails.Prefrence__c}</stringValue>
                    </defaultValue>
                    <fieldText>Seating</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Confirmed_by</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varR_OpportunityLineItemDetails.Request_Details__c</elementReference>
            </defaultValue>
            <fieldText>Confirmed by</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLineItemDetails.Additional_Details__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLineItemDetails.Confirmation_Number__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLineItemDetails.Cancellation_Policy__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dining_Nightspots_Reservation_view</name>
        <label>Dining &amp; Nightspots Reservation view</label>
        <locationX>534</locationX>
        <locationY>351</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Dining_Nightspots_Reservation_edit</targetReference>
        </connector>
        <fields>
            <name>Supplier_DateTime</name>
            <extensionName>c:recordDetailFlowScreenComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnsize</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Supplier__c,Catalogue__c,Arival_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varT_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labels</name>
                <value>
                    <stringValue>Supplier,Catalogue,Date &amp; Time</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Booking_Details_Section</name>
            <fieldText>Booking Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Booking_Details_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Booking_Details</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Booking__c,Time_slot__c,Venu__c,Prefrence__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Number of Guests,Time Slot,Venu,Seating</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Backoffice_Details</name>
            <fieldText>Backoffice Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Backoffice_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Operation_Details</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Request_Details__c,Additional_Details__c,Confirmation_Number__c,Cancellation_Policy__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Confirmed By,Additional Details,Confirmation Number,Cancellation Policy</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Edit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>403</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_OpportunityLineItemDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_OpportunityLineItemDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opprtunity_Line_Item_Details__c</objectType>
    </variables>
    <variables>
        <name>varT_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
