force-app/main/default/flows/ScreenFlow_ServiceMember.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Selected_Contacts</name>
        <label>Set Selected Contacts</label>
        <locationX>939</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>varR_SelectedContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_SelectedContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Through_ServiceMember</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ServiceMember</name>
        <label>Set ServiceMember</label>
        <locationX>62</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>varR_ServiceMember.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>through_SelectedContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ServiceMember.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>through_SelectedContact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ServiceMember.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>  </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ServiceMember.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>through_SelectedContact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ServiceMember.Opportunity_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_opportunityProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_ServiceMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ServiceMembers</name>
        <label>Set ServiceMembers</label>
        <locationX>50</locationX>
        <locationY>689</locationY>
        <assignmentItems>
            <assignToReference>varR_ServiceMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_ServiceMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>through_SelectedContact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_ServiceMembersToDelete</name>
        <label>Check ServiceMembersToDelete</label>
        <locationX>351</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>through_SelectedContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ServiceMembers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_ServiceMembers</targetReference>
            </connector>
            <label>delete</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ScreenFlow: ServiceMember {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow: ServiceMember</label>
    <loops>
        <name>through_SelectedContact</name>
        <label>through SelectedContact</label>
        <locationX>179</locationX>
        <locationY>584</locationY>
        <collectionReference>Contact_to_Choose.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_ServiceMember</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_ServiceMembers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Through_ServiceMember</name>
        <label>Through ServiceMember</label>
        <locationX>876</locationX>
        <locationY>673</locationY>
        <collectionReference>varR_ServiceMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_SelectedContacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ServiceMember_view</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_ServiceMembers</name>
        <label>Create ServiceMembers</label>
        <locationX>233</locationX>
        <locationY>807</locationY>
        <inputReference>varR_ServiceMembers</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_ServiceMembers</name>
        <label>Delete ServiceMembers</label>
        <locationX>355</locationX>
        <locationY>651</locationY>
        <connector>
            <targetReference>through_SelectedContact</targetReference>
        </connector>
        <inputReference>varR_ServiceMembers</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>735</locationX>
        <locationY>391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_serviceMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_opportunity.Account.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varR_Contacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_opportunity</name>
        <label>Get opportunity</label>
        <locationX>728</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_opportunityProduct.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_opportunityProduct</name>
        <label>Get opportunityProduct</label>
        <locationX>725</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>varR_opportunityProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SelectedContacts</name>
        <label>Get SelectedContacts</label>
        <locationX>993</locationX>
        <locationY>655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Selected_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Through_ServiceMember.Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_serviceMembers</name>
        <label>Get serviceMembers</label>
        <locationX>752</locationX>
        <locationY>508</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Through_ServiceMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_Id</elementReference>
            </value>
        </filters>
        <object>Service_Member__c</object>
        <outputReference>varR_ServiceMembers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Extra_Charges__c</queriedFields>
    </recordLookups>
    <screens>
        <name>ServiceMember_Choice</name>
        <label>ServiceMember Choice</label>
        <locationX>492</locationX>
        <locationY>568</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_ServiceMembersToDelete</targetReference>
        </connector>
        <fields>
            <name>Contact_to_Choose</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varR_Contacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>varR_SelectedContact</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;FirstName&quot;,&quot;guid&quot;:&quot;column-5099&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastName&quot;,&quot;guid&quot;:&quot;column-5e3f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MobilePhone&quot;,&quot;guid&quot;:&quot;column-bde3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Mobile Phone&quot;,&quot;type&quot;:&quot;phone&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>30.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ServiceMember_view</name>
        <label>ServiceMember view</label>
        <locationX>619</locationX>
        <locationY>559</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ServiceMember_Choice</targetReference>
        </connector>
        <fields>
            <name>ServiceMemberView</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Service_Member__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varR_ServiceMembers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-d593&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Service Member Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Extra_Charges__c&quot;,&quot;guid&quot;:&quot;column-4d0d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Extra Charges&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Add</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>600</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_opportunityProduct</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varR_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varR_opportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varR_SelectedContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varR_ServiceMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Member__c</objectType>
    </variables>
    <variables>
        <name>varR_ServiceMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Member__c</objectType>
    </variables>
    <variables>
        <name>varT_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
