force-app/main/default/flows/Screen_Flow_Quote_LineItem_Accommodation_view.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Hotel_Fields</name>
        <label>Set Hotel Fields</label>
        <locationX>621</locationX>
        <locationY>872</locationY>
        <assignmentItems>
            <assignToReference>Get_Quote_LineItem_Detail.Arival_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_in_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Quote_LineItem_Detail.Departure_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_out_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Quote_LineItem_Detail.Bookings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_rooms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Quote_LineItem_Detail.Preferences__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Room_Preference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_LineItem_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_otherFields</name>
        <label>Set otherFields</label>
        <locationX>672</locationX>
        <locationY>1027</locationY>
        <assignmentItems>
            <assignToReference>Get_Quote_LineItem_Detail.Arival_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_in_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Quote_LineItem_Detail.Departure_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_out_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Quote_LineItem_Detail.Bookings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_guests</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Quote_LineItem_Detail.Room__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_ofrooms</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_LineItem_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check</name>
        <label>Check Accommodation type</label>
        <locationX>611</locationX>
        <locationY>701</locationY>
        <defaultConnector>
            <targetReference>Set_otherFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Hotel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_LineItem_Detail.Hotel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hotel_Fields</targetReference>
            </connector>
            <label>Is Hotel</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Screen Flow: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow: Quote LineItem Accommodation view</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Quote_LineItem_Detail</name>
        <label>Get Quote LineItem Detail</label>
        <locationX>616</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Accommodation_Quotation_view</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote_Line_Item_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_LineItem_Details</name>
        <label>Update Quote LineItem Details</label>
        <locationX>374</locationX>
        <locationY>827</locationY>
        <connector>
            <targetReference>Get_Quote_LineItem_Detail</targetReference>
        </connector>
        <inputReference>Get_Quote_LineItem_Detail</inputReference>
    </recordUpdates>
    <screens>
        <name>Accommodation_Quotation</name>
        <label>Accommodation Quotation edit</label>
        <locationX>617</locationX>
        <locationY>530</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check</targetReference>
        </connector>
        <fields>
            <name>Accommodation_Quotation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accommodation_Quotation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Check_in_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote_LineItem_Detail.Arival_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Check in Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accommodation_Quotation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Check_out_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote_LineItem_Detail.Departure_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Check out Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Quote_LineItem_Detail.Destination__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Quote_LineItem_Detail.Meal_Plan__c</objectFieldReference>
        </fields>
        <fields>
            <name>Hotel</name>
            <fieldText>Hotel</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hotel_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Detail.Hotel__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Detail.Room__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Room_Preference</name>
                    <defaultValue>
                        <stringValue>{!Get_Quote_LineItem_Detail.Preferences__c}</stringValue>
                    </defaultValue>
                    <fieldText>Room Preference</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hotel_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Detail.Bed_size__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Number_of_rooms</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote_LineItem_Detail.Bookings__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of rooms</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Detail.Opportunity_Line_Item_Details__r.Category__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Hotel</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Occupancy_details</name>
            <fieldText>Occupancy details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Occupancy_details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_guests</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote_LineItem_Detail.Bookings__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of guests</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Occupancy_details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_ofrooms</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote_LineItem_Detail.Room__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of rooms</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Detail.Opportunity_Line_Item_Details__r.Category__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Beach House</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Detail.Opportunity_Line_Item_Details__r.Category__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Villa</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Detail.Opportunity_Line_Item_Details__r.Category__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Apartment</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Accommodation_Quotation_view</name>
        <label>Accommodation Quotation view</label>
        <locationX>614</locationX>
        <locationY>379</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Accommodation_Quotation</targetReference>
        </connector>
        <fields>
            <name>Dates</name>
            <extensionName>c:recordDetailFlowScreenComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Quote_Line_Item_Detail__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labels</name>
                <value>
                    <stringValue>Check In Date,Check Out Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Arival_Date__c,Departure_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varT_Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>meal_plan</name>
            <extensionName>c:recordDetailFlowScreenComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnsize</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Quote_Line_Item_Detail__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Destination__c,Meal_Plan__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varT_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labels</name>
                <value>
                    <stringValue>Destination,Meal plan</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>varT_Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>HotelDetails</name>
            <extensionName>c:recordDetailFlowScreenComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Quote_Line_Item_Detail__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Hotel__c,Bed_size__c,Room__c,Bookings__c,Prefrence__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varT_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labels</name>
                <value>
                    <stringValue>Hotel Name,Bed Size,Room Occupancy,Number of Rooms, Room Preference</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Detail.Opportunity_Line_Item_Details__r.Category__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Hotel</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Occupancy</name>
            <extensionName>c:recordDetailFlowScreenComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Quote_Line_Item_Detail__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Booking__c,Room__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varT_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labels</name>
                <value>
                    <stringValue>Number of Guests,Number of Rooms</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Detail.Opportunity_Line_Item_Details__r.Category__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Villa</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Detail.Opportunity_Line_Item_Details__r.Category__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Beach House</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Detail.Opportunity_Line_Item_Details__r.Category__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Apartment</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Edit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>489</locationX>
        <locationY>37</locationY>
        <connector>
            <targetReference>Get_Quote_LineItem_Detail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varT_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
