force-app/main/default/flows/Screen_Flow_Quote_LineItem_Transfer_view.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Fields</name>
        <label>Set Fields</label>
        <locationX>615</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>Get_Quote_LineItem_details.Departure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pick_Up_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Quote_LineItem_details.Destination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Drop_Off_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Quote_LineItem_details.Arival_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_QuotelineItem_Transport</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Screen Flow: Quote LineItem Transfer view {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow: Quote LineItem Transfer view</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Quote_LineItem_details</name>
        <label>Get Quote LineItem details</label>
        <locationX>616</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transportation_Quotation_view</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote_Line_Item_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_QuotelineItem_Transport</name>
        <label>update QuotelineItem Transport</label>
        <locationX>622</locationX>
        <locationY>803</locationY>
        <inputReference>Get_Quote_LineItem_details</inputReference>
    </recordUpdates>
    <screens>
        <name>Accommodation_Transfer_edit</name>
        <label>Accommodation Transfer edit</label>
        <locationX>612</locationX>
        <locationY>510</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Fields</targetReference>
        </connector>
        <fields>
            <name>Accommodation_Transfer_edit_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accommodation_Transfer_edit_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pick_Up_Address</name>
                    <defaultValue>
                        <stringValue>{!Get_Quote_LineItem_details.Departure__c}</stringValue>
                    </defaultValue>
                    <fieldText>Pick-Up Address</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accommodation_Transfer_edit_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Drop_Off_Address</name>
                    <defaultValue>
                        <stringValue>{!Get_Quote_LineItem_details.Destination__c}</stringValue>
                    </defaultValue>
                    <fieldText>Drop-Off Address</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Accommodation_Transfer_edit_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accommodation_Transfer_edit_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote_LineItem_details.Arival_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Date &amp; Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accommodation_Transfer_edit_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_details.Transport_Type__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Transportation_Quotation_view</name>
        <label>Transportation Quotation view</label>
        <locationX>612</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Accommodation_Transfer_edit</targetReference>
        </connector>
        <fields>
            <name>address</name>
            <extensionName>c:recordDetailFlowScreenComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Quote_Line_Item_Detail__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varT_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Departure__c,Destination__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labels</name>
                <value>
                    <stringValue>Pick-Up Address,Drop-Off Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DateTime</name>
            <extensionName>c:recordDetailFlowScreenComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Quote_Line_Item_Detail__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnsize</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Arival_Date__c, Transport_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varT_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labels</name>
                <value>
                    <stringValue>Date&amp;Time, Transport Type</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Edit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Quote_LineItem_details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varT_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
