force-app/main/default/flows/ScreenFlow_Event_Ticketing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_uniqueFields</name>
        <label>Set uniqueFields</label>
        <locationX>552</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Destination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Tickets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supplier.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Arival_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OpportunityLineItemDetails</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>ScreenFlow: Event Ticketing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow: Event Ticketing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_opportunityLineItemDetails</name>
        <label>get opportunityLineItemDetails</label>
        <locationX>529</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_Ticketing_view</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_Id</elementReference>
            </value>
        </filters>
        <object>Opprtunity_Line_Item_Details__c</object>
        <outputReference>varR_OpportunityLineItemDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Event_Name__c</queriedFields>
        <queriedFields>Arival_Date__c</queriedFields>
        <queriedFields>Sub_Type__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Destination__c</queriedFields>
        <queriedFields>Ticket_Type__c</queriedFields>
        <queriedFields>Booking__c</queriedFields>
        <queriedFields>Supplier__c</queriedFields>
        <queriedFields>Additional_Details__c</queriedFields>
        <queriedFields>Confirmation_Number__c</queriedFields>
        <queriedFields>Cancellation_Policy__c</queriedFields>
        <queriedFields>Promo_code__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_OpportunityLineItemDetails</name>
        <label>Update OpportunityLineItemDetails</label>
        <locationX>227</locationX>
        <locationY>463</locationY>
        <connector>
            <targetReference>get_opportunityLineItemDetails</targetReference>
        </connector>
        <inputReference>varR_OpportunityLineItemDetails</inputReference>
    </recordUpdates>
    <screens>
        <name>Event_Ticketing_edit</name>
        <label>Event Ticketing edit</label>
        <locationX>542</locationX>
        <locationY>466</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_uniqueFields</targetReference>
        </connector>
        <fields>
            <name>Supplier</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Supplier__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Supplier</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varR_OpportunityLineItemDetails.Supplier__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLineItemDetails.Event_Name__c</objectFieldReference>
        </fields>
        <fields>
            <name>Event_Ticketing_edit_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Event_Ticketing_edit_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Sub_Type__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Event_Ticketing_edit_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Category__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>varR_OpportunityLineItemDetails.Arival_Date__c</elementReference>
            </defaultValue>
            <fieldText>Date_Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Location</name>
            <defaultValue>
                <stringValue>{!varR_OpportunityLineItemDetails.Destination__c}</stringValue>
            </defaultValue>
            <fieldText>Location</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Number_of_Tickets</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>varR_OpportunityLineItemDetails.Booking__c</elementReference>
            </defaultValue>
            <fieldText>Number of Tickets</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLineItemDetails.Ticket_Type__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLineItemDetails.Promo_code__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLineItemDetails.Additional_Details__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Event_Ticketing_view</name>
        <label>Event Ticketing view</label>
        <locationX>534</locationX>
        <locationY>340</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Event_Ticketing_edit</targetReference>
        </connector>
        <fields>
            <name>Service_Details</name>
            <extensionName>c:recordDetailFlowScreenComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Supplier__c,Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varT_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labels</name>
                <value>
                    <stringValue>Supplier,Category</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Booking_Details_Section</name>
            <fieldText>Booking Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Booking_Details_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Booking_Details</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Event_Name__c,Arival_Date__c,Destination__c,Ticket_Type__c,Booking__c,Promo_code__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Event Name,Date Time,Location,Ticket Type,Number of Tickets,Promo Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Backoffice_Details_Section</name>
            <fieldText>Backoffice Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Backoffice_Details_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BackOfficeDetails</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Additional_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Additional Details</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Edit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>403</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_opportunityLineItemDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_OpportunityLineItemDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opprtunity_Line_Item_Details__c</objectType>
    </variables>
    <variables>
        <name>varT_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
