force-app/main/default/flows/ScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>add_lineitemsDetails</name>
        <label>add lineitemsDetails</label>
        <locationX>53</locationX>
        <locationY>2228</locationY>
        <assignmentItems>
            <assignToReference>varR_OpportunityLinetemDetails.Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceSupplier.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunityLineItemsDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_OpportunityLinetemDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_added_Servuce</name>
        <label>Remove added Servuce</label>
        <locationX>463</locationX>
        <locationY>2788</locationY>
        <assignmentItems>
            <assignToReference>varT_SubType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_RemoveaddedService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_subType_String_empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set</name>
        <label>Set OpportunityProducts</label>
        <locationX>818</locationX>
        <locationY>2871</locationY>
        <assignmentItems>
            <assignToReference>varR_OpportunityProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_OpportunityProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Through_services</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account</name>
        <label>Set Account</label>
        <locationX>768</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>varR_Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountLookup.recordName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_NewAccount</name>
        <label>Set New Account</label>
        <locationX>504</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>varR_Account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Account.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Client_Record_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity</name>
        <label>Set Opportunity</label>
        <locationX>636</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>varR_opportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunity.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunity.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_request.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunity.Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_request.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunity.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_pricebook.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_subType_String_empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OpportunityLineItemDetail</name>
        <label>Set OpportunityLineItemDetail</label>
        <locationX>467</locationX>
        <locationY>2228</locationY>
        <assignmentItems>
            <assignToReference>varR_OpportunityLinetemDetails.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_opportunity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLinetemDetails.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_request.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLinetemDetails.Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_GetService</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLinetemDetails.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>/</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLinetemDetails.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forT_GetService</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLinetemDetails.Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_OppourtunitylineItemdetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OpportunityProduct</name>
        <label>Set OpportunityProduct</label>
        <locationX>1214</locationX>
        <locationY>2872</locationY>
        <assignmentItems>
            <assignToReference>varR_OpportunityProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Through_services.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityProduct.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PricebookEntries</name>
        <label>Set PricebookEntries</label>
        <locationX>1213</locationX>
        <locationY>2579</locationY>
        <assignmentItems>
            <assignToReference>varR_PricebookEntries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_PricebookEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_OpportunityProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PricebookEntry</name>
        <label>Set PricebookEntry</label>
        <locationX>1005</locationX>
        <locationY>2579</locationY>
        <assignmentItems>
            <assignToReference>varR_PricebookEntry.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Through_services.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_PricebookEntry.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_pricebook.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_PricebookEntry.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_PricebookEntry.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Through_services.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_PricebookEntry.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_PricebookEntries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Request</name>
        <label>Set Request</label>
        <locationX>636</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>varR_request.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_request.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_Request_Type.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Service</name>
        <label>Set Service</label>
        <locationX>50</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>varR_Service.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_GetService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Services</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Services</name>
        <label>Set Services</label>
        <locationX>50</locationX>
        <locationY>2793</locationY>
        <assignmentItems>
            <assignToReference>varR_Services</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_Service</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_added_Servuce</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Standard_Pricebook</name>
        <label>Set Standard Pricebook</label>
        <locationX>636</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>varR_pricebook</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_Pricebook</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSubType</name>
        <label>SetSubTypeConcierge</label>
        <locationX>900</locationX>
        <locationY>1262</locationY>
        <assignmentItems>
            <assignToReference>varT_SubType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConciergeRequest_Options.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_SubType</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSubTypeLifesytel</name>
        <label>SetSubTypeLifesytel</label>
        <locationX>636</locationX>
        <locationY>1262</locationY>
        <assignmentItems>
            <assignToReference>varT_SubType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LifestyleRequest_Options.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_SubType</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSubTypeTravel</name>
        <label>SetSubTypeTravel</label>
        <locationX>372</locationX>
        <locationY>1262</locationY>
        <assignmentItems>
            <assignToReference>varT_SubType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TravelRequest_Options.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_SubType</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Request</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_account_existing</name>
        <label>Is account existing</label>
        <locationX>636</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Set_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_new_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountLookup.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Account</targetReference>
            </connector>
            <label>Is new account</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_subType_String_empty</name>
        <label>is subType String empty</label>
        <locationX>636</locationX>
        <locationY>2078</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_SubType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OpportunityLineItemDetail</targetReference>
            </connector>
            <label>not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Wich</name>
        <label>WhichSubTypeselected</label>
        <locationX>636</locationX>
        <locationY>1142</locationY>
        <defaultConnector>
            <targetReference>SetSubType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Travel_is_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TravelRequest_Options.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSubTypeTravel</targetReference>
            </connector>
            <label>Travel is selected</label>
        </rules>
        <rules>
            <name>LifeStyle_is_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LifestyleRequest_Options.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSubTypeLifesytel</targetReference>
            </connector>
            <label>LifeStyle is selected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>separate one service from list</description>
        <name>forT_GetService</name>
        <dataType>String</dataType>
        <expression>LEFT({!varT_SubType},(FIND(&quot;;&quot;, {!varT_SubType}))-1)</expression>
    </formulas>
    <formulas>
        <name>forT_RemoveaddedService</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!varT_SubType},(LEN({!varT_SubType})-(FIND(&quot;;&quot;,{!varT_SubType})))))</expression>
    </formulas>
    <interviewLabel>ScreenFlow: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow:Create Request</label>
    <loops>
        <name>Through_services</name>
        <label>Through services</label>
        <locationX>810</locationX>
        <locationY>2579</locationY>
        <collectionReference>varR_Services</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_PricebookEntry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_PricebookEntries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create</name>
        <label>Create Services</label>
        <locationX>807</locationX>
        <locationY>2475</locationY>
        <connector>
            <targetReference>Through_services</targetReference>
        </connector>
        <inputReference>varR_Services</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>504</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>Collect_Type</targetReference>
        </connector>
        <inputReference>varR_Account</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>812</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Create_OpportunitylineItemdetail</targetReference>
        </connector>
        <inputReference>varR_opportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_OpportunitylineItemdetail</name>
        <label>Create OpportunitylineItemdetails</label>
        <locationX>811</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Create</targetReference>
        </connector>
        <inputReference>varR_opportunityLineItemsDetails</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_OpportunityProduct</name>
        <label>Create OpportunityProduct</label>
        <locationX>812</locationX>
        <locationY>3279</locationY>
        <inputReference>varR_OpportunityProducts</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_PricebookEntries</name>
        <label>Create PricebookEntries</label>
        <locationX>813</locationX>
        <locationY>3097</locationY>
        <connector>
            <targetReference>Create_OpportunityProduct</targetReference>
        </connector>
        <inputReference>varR_PricebookEntries</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Request</name>
        <label>Create Request</label>
        <locationX>636</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Get_Standard_Pricebook</targetReference>
        </connector>
        <inputReference>varR_request</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Client_Record_Id</name>
        <label>Get Client Record Id</label>
        <locationX>504</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_NewAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Pricebook</name>
        <label>Get Standard Pricebook</label>
        <locationX>636</locationX>
        <locationY>1718</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Standard_Pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Collect_Account</name>
        <label>Collect Account</label>
        <locationX>636</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_account_existing</targetReference>
        </connector>
        <fields>
            <name>AccountStep</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Collect Contact information,Select requested services,Collect Service information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Collect Contact information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Path</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AccountLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Collect_OppourtunitylineItemdetails</name>
        <label>Collect OppourtunitylineItemdetails</label>
        <locationX>258</locationX>
        <locationY>2228</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>add_lineitemsDetails</targetReference>
        </connector>
        <fields>
            <name>OpportunitylinedetailsStep</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Collect Contact information,Select requested services,Collect Service information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Collect Service information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Path</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLinetemDetails.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLinetemDetails.Arival_Date__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLinetemDetails.Departure_Date__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Flight Management</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Accommodation Management</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Detailed Itineraries</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Transport Arrangement - Booking</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ServiceSupplier</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Supplier__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Supplier</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLinetemDetails.Booking__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLinetemDetails.Destination__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Visa Management</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PCR</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Flight Management</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Accommodation Management</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Detailed Itineraries</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>VIP Airport Transfers</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Transport Arrangement - Booking</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Full Concierge Support</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLinetemDetails.Departure__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Flight Management</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLinetemDetails.Airport__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>VIP Airport Transfers</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>VIP Airport Service / Lounge Access</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Airport Meet &amp; Greet</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Airport Express Check-In</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLinetemDetails.Airline__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Flight Management</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLinetemDetails.Hotel__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Accommodation Management</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLinetemDetails.Description__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Collect_Type</name>
        <label>Collect Type</label>
        <locationX>636</locationX>
        <locationY>1022</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Wich</targetReference>
        </connector>
        <fields>
            <name>RequestTypeStep</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Collect Contact information,Select requested services,Collect Service information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Select requested services</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Path</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Collect_Request_Type</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>TypePicklist__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideDescription</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>ServiceType__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>Non Coverable Content</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageSize</name>
                <value>
                    <stringValue>x-large</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TravelRequest_Options</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>TypePicklist__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>TravelService__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Collect_Request_Type.selectedValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Travel Services</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ConciergeRequest_Options</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>TypePicklist__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>Concierge__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Collect_Request_Type.selectedValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Concierge Services</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LifestyleRequest_Options</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>LifeStyle__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>TypePicklist__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Collect_Request_Type.selectedValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Lifestyle Management Services</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Account</name>
        <label>New Account</label>
        <locationX>504</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Client_Record_Id</targetReference>
        </connector>
        <fields>
            <name>NewAccountStep</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Collect Contact information,Select requested services,Collect Service information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Collect Contact information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Path</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>510</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Collect_Account</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varR_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varR_opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varR_opportunityLineItemsDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opprtunity_Line_Item_Details__c</objectType>
    </variables>
    <variables>
        <name>varR_OpportunityLinetemDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opprtunity_Line_Item_Details__c</objectType>
    </variables>
    <variables>
        <name>varR_OpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varR_OpportunityProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varR_pricebook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>varR_PricebookEntries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>varR_PricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>varR_request</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varR_Service</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varR_Services</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varR_SubTypes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_SubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
