force-app/main/default/flows/Screen_Flow_Quote_LineItem_Flight_view.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Screen Flow: Quote LineItem Flight view {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow: Quote LineItem Flight view</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Quote_LineItem_Flight_view</name>
        <label>Get Quote LineItem Flight view</label>
        <locationX>616</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flight_Quotation_view</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote_Line_Item_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Quote_LineItem_details</name>
        <label>update Quote LineItem details</label>
        <locationX>619</locationX>
        <locationY>641</locationY>
        <inputReference>Get_Quote_LineItem_Flight_view</inputReference>
    </recordUpdates>
    <screens>
        <name>Flight_Quotation_edit</name>
        <label>Flight Quotation edit</label>
        <locationX>616</locationX>
        <locationY>495</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>update_Quote_LineItem_details</targetReference>
        </connector>
        <fields>
            <name>Depart_Details1</name>
            <fieldText>Depart Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Depart_Details1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Departure__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Airline__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Depart_Details1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Destination__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Class__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Depart_Details1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Departure_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Depart_Details1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Arival_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Flight_view.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>One-way	</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Flight_view.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>RoundTrip</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Return_Details1</name>
            <fieldText>Return Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Return_Details1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Airline1__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Return_Details1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Class1__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Return_Details1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Departure_Date1__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Return_Details1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Arival_Date1__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Flight_view.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>RoundTrip</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight_11</name>
            <fieldText>Flight 1</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight_11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Departure__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Airline__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Destination__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Class__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_11_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Departure_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_11_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Arival_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Flight_view.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Flight_view.Departure__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight_22</name>
            <fieldText>Flight 2</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight_22_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Departure1__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Airline1__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_22_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Destination1__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Class1__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_22_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Departure_Date1__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_22_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Arival_Date1__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Flight_view.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Flight_view.Departure1__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight_33</name>
            <fieldText>Flight 3</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight_33_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Departure2__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Airline2__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_33_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Destination2__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Class2__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_33_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Departure_Date2__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_33_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Arival_Date2__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Flight_view.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Flight_view.Departure2__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight_44</name>
            <fieldText>Flight 4</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight_44_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Departure3__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Airline3__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_44_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Destination3__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Class3__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_44_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Departure_Date3__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_44_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Arival_Date3__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Flight_view.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Flight_view.Departure3__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight_55</name>
            <fieldText>Flight 5</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight_55_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Departure4__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Airline4__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_55_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Destination4__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Class4__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_55_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Departure_Date4__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_55_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote_LineItem_Flight_view.Arival_Date4__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Flight_view.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Flight_view.Departure4__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Flight_Quotation_view</name>
        <label>Flight Quotation view</label>
        <locationX>615</locationX>
        <locationY>344</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Flight_Quotation_edit</targetReference>
        </connector>
        <fields>
            <name>Depart_Details</name>
            <fieldText>Depart Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Depart_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>depart</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>4.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote_Line_Item_Detail__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Departure__c,Destination__c,Departure_Date__c,Arival_Date__c, Airline__c,Class__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Departure,Destination,Departure Date,Arrival Date,Airline,Class</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Flight_view.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>One-way</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Flight_view.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>RoundTrip</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Return_Details</name>
            <fieldText>Return Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Return_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>return</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>4.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote_Line_Item_Detail__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Destination__c,Departure__c,Departure_Date1__c,Arival_Date1__c, Airline1__c,Class1__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Departure,Destination,Departure Date,Arrival Date,Airline,Class</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Flight_view.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>RoundTrip</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight_1</name>
            <fieldText>Flight 1</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight_1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Flight1</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>4.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote_Line_Item_Detail__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Departure__c,Destination__c,Departure_Date__c,Arival_Date__c, Airline__c,Class__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Departure,Destination,Departure Date,Arrival Date,Airline,Class</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Flight_view.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Flight_view.Departure__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight_2</name>
            <fieldText>Flight 2</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight_2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Flight2</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote_Line_Item_Detail__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>4.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Departure1__c,Destination1__c,Departure_Date1__c,Arival_Date1__c, Airline1__c,Class1__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Departure,Destination,Departure Date,Arrival Date,Airline,Class</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Flight_view.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Flight_view.Departure1__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight_3</name>
            <fieldText>Flight 3</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight_3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Flight3</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>4.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote_Line_Item_Detail__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Departure2__c,Destination2__c,Departure_Date2__c,Arival_Date2__c, Airline2__c,Class2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Departure,Destination,Departure Date,Arrival Date,Airline,Class</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Flight_view.Departure2__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Flight_view.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight_4</name>
            <fieldText>Flight 4</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight_4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>flight4</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>4.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote_Line_Item_Detail__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Departure3__c,Destination3__c,Departure_Date3__c,Arival_Date3__c, Airline3__c,Class3__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Departure,Destination,Departure Date,Arrival Date,Airline,Class</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Flight_view.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Flight_view.Departure3__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight_5</name>
            <fieldText>Flight 5</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight_5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>flight5</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>4.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote_Line_Item_Detail__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Departure4__c,Destination4__c,Departure_Date4__c,Arival_Date4__c, Airline4__c,Class4__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Departure,Destination,Departure Date,Arrival Date,Airline,Class</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Flight_view.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Quote_LineItem_Flight_view.Departure4__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Edit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Quote_LineItem_Flight_view</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varT_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
