force-app/main/default/flows/ScreenFlow_Create_new_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Quote</name>
        <label>Set Quote</label>
        <locationX>616</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varR_Quote.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportnity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Quote.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportnity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Quote.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportnity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Quote.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_QuoteLineItem</name>
        <label>Set QuoteLineItem</label>
        <locationX>616</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>varR_QuoteLineItem.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Quote.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_QuoteLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceProduct_Table.firstSelectedRow.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_QuoteLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceProduct_Table.firstSelectedRow.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_QuoteLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceProduct_Table.firstSelectedRow.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_QuoteLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceProduct_Table.firstSelectedRow.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_QuoteLineItem.OpportunityLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceProduct_Table.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_QuoteLineItem</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_available_service</name>
        <label>Check available service</label>
        <locationX>611</locationX>
        <locationY>377</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_avaliable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_OpportunityProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_service</targetReference>
            </connector>
            <label>Is avaliable</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ScreenFlow: Create new Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow: Create new Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>616</locationX>
        <locationY>686</locationY>
        <connector>
            <targetReference>Set_QuoteLineItem</targetReference>
        </connector>
        <inputReference>varR_Quote</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_QuoteLineItem</name>
        <label>Create QuoteLineItem</label>
        <locationX>616</locationX>
        <locationY>926</locationY>
        <inputReference>varR_QuoteLineItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportnity</name>
        <label>Get Opportnity</label>
        <locationX>616</locationX>
        <locationY>166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OpportunityProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OpportunityProducts</name>
        <label>Get OpportunityProducts</label>
        <locationX>616</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_available_service</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportnity.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>varR_OpportunityProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <screens>
        <name>Collect_service</name>
        <label>Collect service</label>
        <locationX>615</locationX>
        <locationY>462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Quote</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_Quote.ExpirationDate</objectFieldReference>
        </fields>
        <fields>
            <name>ServiceProduct_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varR_OpportunityProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-b33e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Opportunity Product Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>880</locationX>
        <locationY>446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; color: rgb(255, 8, 8);&quot;&gt;No Service available for quota creation, please make sure services are available and try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Opportnity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_OpportunityProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varR_Quote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>varR_QuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
</Flow>
