force-app/main/default/flows/ScreenFlow_Excursions_Planning_view.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Unique_values</name>
        <label>Set Unique values</label>
        <locationX>531</locationX>
        <locationY>588</locationY>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Arival_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Dateedit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Travelers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supplieredit.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Operation_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Operating_Hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Request_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Slot</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItemDetails.Destination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_opportunityLineitemDetails</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>ScreenFlow: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow: Excursions Planning view</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_OpportunityLineItemDetails</name>
        <label>Get OpportunityLineItemDetails</label>
        <locationX>529</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Excursions_Planning_view</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_Id</elementReference>
            </value>
        </filters>
        <object>Opprtunity_Line_Item_Details__c</object>
        <outputReference>varR_OpportunityLineItemDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Arival_Date__c</queriedFields>
        <queriedFields>Departure_Date__c</queriedFields>
        <queriedFields>Sub_Type__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Destination__c</queriedFields>
        <queriedFields>Booking__c</queriedFields>
        <queriedFields>Additional_Details__c</queriedFields>
        <queriedFields>Supplier__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_opportunityLineitemDetails</name>
        <label>Update opportunityLineitemDetails</label>
        <locationX>295</locationX>
        <locationY>421</locationY>
        <connector>
            <targetReference>Get_OpportunityLineItemDetails</targetReference>
        </connector>
        <inputReference>varR_OpportunityLineItemDetails</inputReference>
    </recordUpdates>
    <screens>
        <name>Excursions_Planning_edit</name>
        <label>Excursions Planning edit</label>
        <locationX>531</locationX>
        <locationY>436</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Unique_values</targetReference>
        </connector>
        <fields>
            <name>Supplieredit</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Supplier__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varR_OpportunityLineItemDetails.Supplier__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Supplier</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLineItemDetails.Catalogue__c</objectFieldReference>
        </fields>
        <fields>
            <name>Excursions_Planning_edit_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Excursions_Planning_edit_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Dateedit</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>varR_OpportunityLineItemDetails.Arival_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Excursions_Planning_edit_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varR_OpportunityLineItemDetails.Destination__c</elementReference>
                    </defaultValue>
                    <fieldText>Location</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Excursions_Planning_edit_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Excursions_Planning_edit_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Sub_Type__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Excursions_Planning_edit_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Category__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Number_of_Travelers</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>varR_OpportunityLineItemDetails.Booking__c</elementReference>
            </defaultValue>
            <fieldText>Number of Travelers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Excursions_Planning_edit_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Excursions_Planning_edit_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Slot</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varR_OpportunityLineItemDetails.Request_Details__c</elementReference>
                    </defaultValue>
                    <fieldText>Slot</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Additional_Details__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Excursions_Planning_edit_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Operating_Hours</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varR_OpportunityLineItemDetails.Operation_Details__c</elementReference>
                    </defaultValue>
                    <fieldText>Operating Hours</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLineItemDetails.Cancellation_Policy__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Excursions_Planning_view</name>
        <label>Excursions Planning view</label>
        <locationX>530</locationX>
        <locationY>303</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Excursions_Planning_edit</targetReference>
        </connector>
        <fields>
            <name>Supplier_DateTime</name>
            <extensionName>c:recordDetailFlowScreenComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnsize</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Supplier__c, Catalogue__c,Arival_Date__c,Destination__c,Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varT_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labels</name>
                <value>
                    <stringValue>Supplier, Catalogue,Date &amp; Time,Location,Category</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Booking_Details_Section</name>
            <fieldText>Booking Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Booking_Details_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Booking_Details</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Booking__c,Request_Details__c,Operation_details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Number of Travelers,Slot,Operating Hours</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Backoffice_Details</name>
            <fieldText>Backoffice Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Backoffice_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BackOfficeDetails</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Additional_Details__c,Confirmation_Number__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Additional Details,Confirmation Number</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Edit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>403</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_OpportunityLineItemDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_OpportunityLineItemDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opprtunity_Line_Item_Details__c</objectType>
    </variables>
    <variables>
        <name>varT_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
