force-app/main/default/flows/Screenflow_Accommodation_Managment_view.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_FieldOtherThanHotel</name>
        <label>Set FieldOtherThanHotel</label>
        <locationX>688</locationX>
        <locationY>847</locationY>
        <assignmentItems>
            <assignToReference>varR_OpportuityLineItemDetails.Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supplieredit.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportuityLineItemDetails.Arival_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_in_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportuityLineItemDetails.Departure_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_out_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportuityLineItemDetails.Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Numberofguests</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportuityLineItemDetails.Room__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Numberooms</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_OpportunityLineItemDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_uniqueFields</name>
        <label>Set uniqueFields</label>
        <locationX>537</locationX>
        <locationY>713</locationY>
        <assignmentItems>
            <assignToReference>varR_OpportuityLineItemDetails.Arival_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_in_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportuityLineItemDetails.Departure_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_out_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportuityLineItemDetails.Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_rooms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportuityLineItemDetails.Prefrence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Room_Preference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportuityLineItemDetails.Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supplieredit.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_OpportunityLineItemDetails</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Accommodation_type</name>
        <label>Check Accommodation type</label>
        <locationX>530</locationX>
        <locationY>568</locationY>
        <defaultConnector>
            <targetReference>Set_FieldOtherThanHotel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Hotel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_OpportuityLineItemDetails.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hotel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_uniqueFields</targetReference>
            </connector>
            <label>Is Hotel</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Screenflow: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screenflow: Accommodation Managment view</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_OpportunityLineItemDetails</name>
        <label>Get OpportunityLineItemDetails</label>
        <locationX>537</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Accommodation_Managment_view</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_Id</elementReference>
            </value>
        </filters>
        <object>Opprtunity_Line_Item_Details__c</object>
        <outputReference>varR_OpportuityLineItemDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Arival_Date__c</queriedFields>
        <queriedFields>Departure_Date__c</queriedFields>
        <queriedFields>Destination__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Hotel__c</queriedFields>
        <queriedFields>Bed_size__c</queriedFields>
        <queriedFields>Room__c</queriedFields>
        <queriedFields>Meal_Plan__c</queriedFields>
        <queriedFields>Additional_Details__c</queriedFields>
        <queriedFields>Prefrence__c</queriedFields>
        <queriedFields>Booking__c</queriedFields>
        <queriedFields>Confirmation_Number__c</queriedFields>
        <queriedFields>Cancellation_Policy__c</queriedFields>
        <queriedFields>Sub_Type__c</queriedFields>
        <queriedFields>Supplier__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_OpportunityLineItemDetails</name>
        <label>update OpportunityLineItemDetails</label>
        <locationX>160</locationX>
        <locationY>390</locationY>
        <inputReference>varR_OpportuityLineItemDetails</inputReference>
    </recordUpdates>
    <screens>
        <name>Accommodation_edit</name>
        <label>Accommodation edit</label>
        <locationX>537</locationX>
        <locationY>442</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Accommodation_type</targetReference>
        </connector>
        <fields>
            <name>Accommodation_edit_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accommodation_edit_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Supplieredit</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Supplier__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Supplier</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varR_OpportuityLineItemDetails.Supplier__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accommodation_edit_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportuityLineItemDetails.Catalogue__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Accommodation_edit_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accommodation_edit_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Check_in_Date</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>varR_OpportuityLineItemDetails.Arival_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Check in Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportuityLineItemDetails.Sub_Type__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accommodation_edit_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Check_out_Date</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>varR_OpportuityLineItemDetails.Departure_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Check out Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportuityLineItemDetails.Category__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportuityLineItemDetails.Citizenship__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportuityLineItemDetails.Destination__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportuityLineItemDetails.Meal_Plan__c</objectFieldReference>
        </fields>
        <fields>
            <name>Hoteledit</name>
            <fieldText>Hotel</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hoteledit_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportuityLineItemDetails.Hotel__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportuityLineItemDetails.Room__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Room_Preference</name>
                    <defaultValue>
                        <stringValue>{!varR_OpportuityLineItemDetails.Prefrence__c}</stringValue>
                    </defaultValue>
                    <fieldText>Room Preference</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hoteledit_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportuityLineItemDetails.Bed_size__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Number_of_rooms</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>varR_OpportuityLineItemDetails.Booking__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of rooms</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportuityLineItemDetails.Category__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Hotel</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Occupancydetails</name>
            <fieldText>Occupancy details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Occupancydetails_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Numberofguests</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>varR_OpportuityLineItemDetails.Booking__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of guests</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Occupancydetails_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Numberooms</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>varR_OpportuityLineItemDetails.Room__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of rooms</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportuityLineItemDetails.Category__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Villa</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportuityLineItemDetails.Category__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Beach House</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportuityLineItemDetails.Category__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Apartment</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportuityLineItemDetails.Additional_Details__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportuityLineItemDetails.Confirmation_Number__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportuityLineItemDetails.Cancellation_Policy__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Accommodation_Managment_view</name>
        <label>Accommodation Managment view</label>
        <locationX>538</locationX>
        <locationY>312</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Accommodation_edit</targetReference>
        </connector>
        <fields>
            <name>SupplierName</name>
            <extensionName>c:recordDetailFlowScreenComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Supplier__c,Catalogue__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varT_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labels</name>
                <value>
                    <stringValue>Supplier, Catalogue</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Dates_Type</name>
            <extensionName>c:recordDetailFlowScreenComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Arival_Date__c,Departure_Date__c,Sub_Type__c,Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varT_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labels</name>
                <value>
                    <stringValue>Check In Date,Check Out Date,Type,Category</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>meal_plan</name>
            <extensionName>c:recordDetailFlowScreenComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varT_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labels</name>
                <value>
                    <stringValue> Citizenship,Destination,Meal plan</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Citizenship__c,Destination__c,Meal_Plan__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnsize</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Hotel</name>
            <fieldText>Hotel</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hotel_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HotalDetails</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Hotel__c,Bed_size__c,Room__c,Booking__c,Prefrence__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Hotel Name,Bed Size,Room Occupancy,Number of Rooms, Room Preference</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>2.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportuityLineItemDetails.Category__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Hotel</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportuityLineItemDetails.Category__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Hotel</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Occupancy_details</name>
            <fieldText>Occupancy details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Occupancy_details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Occupancy</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Booking__c,Room__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Number of Guests,Number of Rooms</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportuityLineItemDetails.Category__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Beach House</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportuityLineItemDetails.Category__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Villa</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportuityLineItemDetails.Category__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Apartment</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportuityLineItemDetails.Category__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Beach House</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportuityLineItemDetails.Category__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Villa</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportuityLineItemDetails.Category__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Apartment</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Backoffice_Details</name>
            <fieldText>Backoffice Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Backoffice_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BackOfficeDetails</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Additional_Details__c,Confirmation_Number__c,Cancellation_Policy__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labels</name>
                        <value>
                            <stringValue>Additional Details,Confirmation Number,Cancellation Policy</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Edit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>403</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_OpportunityLineItemDetails</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varR_OpportuityLineItemDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opprtunity_Line_Item_Details__c</objectType>
    </variables>
    <variables>
        <name>varT_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
