force-app/main/default/flows/SubFlow_Create_Group_of_Services.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>add_lineitemsDetails</name>
        <label>add lineitemsDetails</label>
        <locationX>50</locationX>
        <locationY>1030</locationY>
        <assignmentItems>
            <assignToReference>varR_OpportunityLinetemDetails.Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceSupplier.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_opportunityLineItemsDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_OpportunityLinetemDetails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_OpportunityLinetemDetails.Booking__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_added_Servuce</name>
        <label>Remove added Servuce</label>
        <locationX>896</locationX>
        <locationY>859</locationY>
        <assignmentItems>
            <assignToReference>varT_SubType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_RemoveaddedService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_subType_String_empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set</name>
        <label>Set OpportunityProducts</label>
        <locationX>1358</locationX>
        <locationY>1047</locationY>
        <assignmentItems>
            <assignToReference>varR_OpportunityProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_OpportunityProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Through_services</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AvailableBalance</name>
        <label>Set AvailableBalance</label>
        <locationX>519</locationX>
        <locationY>1270</locationY>
        <assignmentItems>
            <assignToReference>varN_AvailableBalance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Through_SelectedContacts.Balance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varN_AvailableBalance</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Through_SelectedContacts.Total_Hold__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_SelectedContactBalance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ContactList</name>
        <label>Set ContactList</label>
        <locationX>852</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>varR_Contacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_subType_String_empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ContactServiceMaps</name>
        <label>Set ContactServiceMaps</label>
        <locationX>582</locationX>
        <locationY>871</locationY>
        <assignmentItems>
            <assignToReference>varA_ServiceContactMaps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarA_ServiceContactMap</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Through_SelectedContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OpportunityLineItemDetail</name>
        <label>Set OpportunityLineItemDetail</label>
        <locationX>374</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>varR_OpportunityLinetemDetails.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_opportunity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLinetemDetails.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_opportunity.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLinetemDetails.Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_GetService</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLinetemDetails.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>/</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLinetemDetails.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forT_GetService</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityLinetemDetails.Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_OppourtunitylineItemdetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OpportunityProduct</name>
        <label>Set OpportunityProduct</label>
        <locationX>1474</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>varR_OpportunityProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Through_services.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityProduct.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OpportunityProduct.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Through_services.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PricebookEntries</name>
        <label>Set PricebookEntries</label>
        <locationX>586</locationX>
        <locationY>1809</locationY>
        <assignmentItems>
            <assignToReference>varR_PricebookEntries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_PricebookEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Services</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PricebookEntry</name>
        <label>Set PricebookEntry</label>
        <locationX>384</locationX>
        <locationY>1853</locationY>
        <assignmentItems>
            <assignToReference>varR_PricebookEntry.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Through_services.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_PricebookEntry.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_pricebook.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_PricebookEntry.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_PricebookEntry.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Service.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_PricebookEntry.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_PricebookEntries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SelectedContacts</name>
        <label>Set SelectedContacts</label>
        <locationX>54</locationX>
        <locationY>752</locationY>
        <assignmentItems>
            <assignToReference>varR_SelectedContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contacts_Choice.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_lineitemsDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Service</name>
        <label>Set Service</label>
        <locationX>246</locationX>
        <locationY>1953</locationY>
        <assignmentItems>
            <assignToReference>varR_Service.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_GetService</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Service.Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Service.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ServiceContactMap</name>
        <label>Set ServiceContactMap</label>
        <locationX>416</locationX>
        <locationY>871</locationY>
        <assignmentItems>
            <assignToReference>VarA_ServiceContactMap.service.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Service.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarA_ServiceContactMap.selectedContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Through_SelectedContacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarA_ServiceContactMap.selectedContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Through_SelectedContacts.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarA_ServiceContactMap.selectedContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Through_SelectedContacts.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarA_ServiceContactMap.service.Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Service.Points__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarA_ServiceContactMap.selectedContact.Is_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Through_SelectedContacts.Is_Member__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarA_ServiceContactMap.extraCharge</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varB_ExtraCharge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Through_SelectedContacts.Total_Hold__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_Service.Points__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarA_ServiceContactMap.selectedContact.Total_Hold__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Through_SelectedContacts.Total_Hold__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_ContactServiceMaps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Services</name>
        <label>Set Services</label>
        <locationX>184</locationX>
        <locationY>1563</locationY>
        <assignmentItems>
            <assignToReference>varR_Services</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_Service</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Through_SelectedContacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_doublicate</name>
        <label>Check duplicate service</label>
        <locationX>802</locationX>
        <locationY>1294</locationY>
        <defaultConnector>
            <targetReference>Remove_added_Servuce</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_SameService.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_subType_String_empty</targetReference>
            </connector>
            <label>Same Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_extra_charges</name>
        <label>check extra charges</label>
        <locationX>192</locationX>
        <locationY>1027</locationY>
        <defaultConnector>
            <targetReference>Through_SelectedContacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>apply_extra_charges</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Extra_Charges</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ServiceContactMap</targetReference>
            </connector>
            <label>apply extra charges</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SelectedContactBalance</name>
        <label>Check SelectedContactBalance</label>
        <locationX>406</locationX>
        <locationY>1160</locationY>
        <defaultConnector>
            <targetReference>Extra_Charge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Balance_is_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_AvailableBalance</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varR_Service.Points__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Through_SelectedContacts.Is_Member__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ServiceContactMap</targetReference>
            </connector>
            <label>Balance is available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service_existing</name>
        <label>Check Service existing</label>
        <locationX>59</locationX>
        <locationY>1815</locationY>
        <defaultConnector>
            <targetReference>Set_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_is_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Service</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Services</targetReference>
            </connector>
            <label>Service is Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_subType_String_empty</name>
        <label>is subType String empty</label>
        <locationX>650</locationX>
        <locationY>616</locationY>
        <defaultConnector>
            <targetReference>Through_services</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_SubType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OpportunityLineItemDetail</targetReference>
            </connector>
            <label>not empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forT_GetopportunityType</name>
        <dataType>String</dataType>
        <expression>LEFT({!varT_OpportunityTypes},(FIND(&quot;;&quot;, {!varT_OpportunityTypes}))-1)</expression>
    </formulas>
    <formulas>
        <description>separate one service from list</description>
        <name>forT_GetService</name>
        <dataType>String</dataType>
        <expression>LEFT({!varT_SubType},(FIND(&quot;;&quot;, {!varT_SubType}))-1)</expression>
    </formulas>
    <formulas>
        <name>forT_RemoveaddedOpportunity</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!varT_OpportunityTypes},(LEN({!varT_OpportunityTypes})-(FIND(&quot;;&quot;,{!varT_OpportunityTypes})))))</expression>
    </formulas>
    <formulas>
        <name>forT_RemoveaddedService</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!varT_SubType},(LEN({!varT_SubType})-(FIND(&quot;;&quot;,{!varT_SubType})))))</expression>
    </formulas>
    <interviewLabel>SubFlow: Create Group of Services {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SubFlow: Create Group of Services</label>
    <loops>
        <name>Through_SelectedContacts</name>
        <label>Through SelectedContacts</label>
        <locationX>699</locationX>
        <locationY>1331</locationY>
        <collectionReference>varR_SelectedContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_AvailableBalance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_doublicate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Through_services</name>
        <label>Through services</label>
        <locationX>1249</locationX>
        <locationY>731</locationY>
        <collectionReference>varR_Services</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_OpportunityProduct</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create</name>
        <label>Create Service</label>
        <locationX>234</locationX>
        <locationY>1835</locationY>
        <connector>
            <targetReference>Set_PricebookEntry</targetReference>
        </connector>
        <inputReference>varR_Service</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>851</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_ContactList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_request.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service</name>
        <label>Get Service</label>
        <locationX>49</locationX>
        <locationY>1255</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Service_existing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forT_GetService</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>varR_Service</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Points__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Collect_OppourtunitylineItemdetails</name>
        <label>Collect OppourtunitylineItemdetails</label>
        <locationX>61</locationX>
        <locationY>613</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_SelectedContacts</targetReference>
        </connector>
        <fields>
            <name>OpportunitylinedetailsStep</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Collect Contact information,Select requested services,Collect Service information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Collect Service information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Path</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Collect_OppourtunitylineItemdetails_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Collect_OppourtunitylineItemdetails_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Name</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Trip_type__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Flight Management</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_TotalItemDetails.Event_Name__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Event Ticketing</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Collect_OppourtunitylineItemdetails_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contacts_Choice</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Main Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>varR_Contacts</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;FirstName&quot;,&quot;guid&quot;:&quot;column-15d2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastName&quot;,&quot;guid&quot;:&quot;column-3b8a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MobilePhone&quot;,&quot;guid&quot;:&quot;column-ebec&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Mobile Phone&quot;,&quot;type&quot;:&quot;phone&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRows</name>
                        <value>
                            <elementReference>varC_SelectedContact</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Flight</name>
            <fieldText>Flight</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Departure_Date__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Flight Management</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Departure__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Arival_Date__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Flight Management</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Destination__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>1 AND 2</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Flight Management</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>RoundTrip</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight_1</name>
            <fieldText>Flight 1</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight_1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Departure_1__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Destination_1__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Departure_Date_1__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>(1 AND 2 AND 3 )OR (2 AND 4)</conditionLogic>
                <conditions>
                    <leftValueReference>Travel_Destination.Current_Number_Of_Fields</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Flight Management</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>One-way</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight_2</name>
            <fieldText>Flight 2</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight_2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Departure_2__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Destination_2__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Departure_Date_2__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Travel_Destination.Current_Number_Of_Fields</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Flight Management</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight_3</name>
            <fieldText>Flight 3</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight_3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Departure_3__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Destination_3__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Departure_Date_3__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Travel_Destination.Current_Number_Of_Fields</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>3.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flight_4</name>
            <fieldText>Flight 4</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flight_4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Departure_4__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Destination_4__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flight_4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Departure_Date_4__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Travel_Destination.Current_Number_Of_Fields</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>4.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Flight Management</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Travel_Destination</name>
            <extensionName>c:incrementAndDecrementButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Add_Button_Label</name>
                <value>
                    <stringValue>Add Destination </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Remove_Button_Label</name>
                <value>
                    <stringValue>Remove Destination </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Current_Number_Of_Fields</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Maximum_Number_Of_Fields</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Flight Management</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Trip_type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-city</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Collect_OppourtunitylineItemdetails_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Collect_OppourtunitylineItemdetails_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Start_Date__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Visa Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Health and Vaccine</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Accommodation Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Specialty Travel Planning</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Excursions Planning / Travel Experiences</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Dining &amp; Nightspots Reservations</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>VIP Airport Services</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Event Ticketing</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Departure__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transport Arrangement - Booking</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Category__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>VIP Airport Transfers</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ServiceSupplier</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opprtunity_Line_Item_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Supplier__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Supplier</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Citizenship__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Visa Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_TotalItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Flight Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_TotalItemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Accommodation Management</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Adult__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Visa Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Health and Vaccine</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Flight Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Accommodation Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Specialty Travel Planning</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Excursions Planning / Travel Experiences</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transport Arrangement - Booking</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Number_of_guests__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Event Ticketing</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Dining &amp; Nightspots Reservations</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>VIP Airport Services</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Hotel__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Accommodation Management</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Bed_size__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Accommodation Management</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Meal_Plan__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Accommodation Management</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Type_of_visa__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Visa Management</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Class__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Flight Management</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Sub_Type__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Health and Vaccine</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Specialty Travel Planning</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Excursions Planning / Travel Experiences</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Event Ticketing</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>VIP Airport Services</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transport Arrangement - Booking</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Category__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Health and Vaccine</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Specialty Travel Planning</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Excursions Planning / Travel Experiences</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Event Ticketing</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>VIP Airport Services</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transport Arrangement - Booking</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Venu__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Dining &amp; Nightspots Reservations</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Promo_code__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Event Ticketing</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Collect_OppourtunitylineItemdetails_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.End_Date__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Visa Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Accommodation Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Specialty Travel Planning</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Excursions Planning / Travel Experiences</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Destination__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Health and Vaccine</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Specialty Travel Planning</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Excursions Planning / Travel Experiences</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>VIP Airport Services</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transport Arrangement - Booking</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Event Ticketing</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Category__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>VIP Airport Transfers</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Airline__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Flight Management</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Child_0_2yr__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Visa Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Health and Vaccine</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Flight Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Accommodation Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Specialty Travel Planning</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Excursions Planning / Travel Experiences</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transport Arrangement - Booking</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Child_3_12yr__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Visa Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Health and Vaccine</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Flight Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Accommodation Management</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Specialty Travel Planning</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Excursions Planning / Travel Experiences</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transport Arrangement - Booking</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Flight_Number__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Category__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Airport Meet &amp; Greet</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Category__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>VIP Airport Transfers</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Room__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Accommodation Management</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Transport_Type__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Transport Arrangement - Booking</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_OpportunityLinetemDetails.Time_slot__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Dining &amp; Nightspots Reservations</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>varR_OpportunityLinetemDetails.Prefrence__c</objectFieldReference>
        </fields>
        <fields>
            <name>Add_SameService</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add SameService</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Accommodation Management</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varR_OpportunityLinetemDetails.Sub_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>VIP Airport Services</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Extra_Charge</name>
        <label>Extra Charge</label>
        <locationX>202</locationX>
        <locationY>1154</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>check_extra_charges</targetReference>
        </connector>
        <fields>
            <name>ExtraChargeMessage</name>
            <fieldText>&lt;p&gt;{!Through_SelectedContacts.Name} Dose not have enough points to cover service, to continue  with extra Charges Check the Checkbox below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Extra_Charges</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Extra Charges</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>728</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarA_ServiceContactMap</name>
        <apexClass>ServiceContactMap</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varA_ServiceContactMaps</name>
        <apexClass>ServiceContactMap</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varB_ExtraCharge</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varC_SelectedContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varN_AvailableBalance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varR_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varR_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varR_EmptyServices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varR_opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varR_opportunityLineItemsDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opprtunity_Line_Item_Details__c</objectType>
    </variables>
    <variables>
        <name>varR_OpportunityLinetemDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opprtunity_Line_Item_Details__c</objectType>
    </variables>
    <variables>
        <name>varR_OpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varR_OpportunityProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varR_pricebook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>varR_PricebookEntries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>varR_PricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>varR_request</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varR_SelectedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varR_Service</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varR_ServiceMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Member__c</objectType>
    </variables>
    <variables>
        <name>varR_ServiceMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Member__c</objectType>
    </variables>
    <variables>
        <name>varR_Services</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varR_TotalItemDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opprtunity_Line_Item_Details__c</objectType>
    </variables>
    <variables>
        <name>varT_OpportunityTypes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_SubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
