force-app/main/default/flows/TriggerFlow_Quote_Line_Item_after_save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_QuoteLineItemDetail</name>
        <label>Set QuoteLineItemDetail</label>
        <locationX>545</locationX>
        <locationY>609</locationY>
        <assignmentItems>
            <assignToReference>varR_QuoteLineItemDetail.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.QuoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_QuoteLineItemDetail.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_OpportunityLineDetails.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_QuoteLineItemDetail.Opportunity_Line_Item_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_OpportunityLineDetails.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_QuoteLineItemDetail.Airline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_OpportunityLineDetails.Airline__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_QuoteLineItemDetail.Arival_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_OpportunityLineDetails.Arival_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_QuoteLineItemDetail.Departure_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_OpportunityLineDetails.Departure_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_QuoteLineItemDetail.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_OpportunityLineDetails.Additional_Details__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_QuoteLineItemDetail.Destination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_OpportunityLineDetails.Destination__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_QuoteLineItemDetail.Hotel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_OpportunityLineDetails.Hotel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_QuoteLineItemDetail.List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Line_Item.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_QuoteLineItemDetils</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>TriggerFlow: Quote Line Item after-save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TriggerFlow: Quote Line Item after-save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_QuoteLineItemDetils</name>
        <label>Create QuoteLineItemDetils</label>
        <locationX>556</locationX>
        <locationY>744</locationY>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
        <inputReference>varR_QuoteLineItemDetail</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Line_Item</name>
        <label>Get Opportunity Line Item</label>
        <locationX>542</locationX>
        <locationY>331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OpportunityLineDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityLineItem.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity_Line_Item_Details__c</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>Total_rate__c</queriedFields>
        <queriedFields>Markup__c</queriedFields>
        <queriedFields>Markup_Amount__c</queriedFields>
        <queriedFields>Commission__c</queriedFields>
        <queriedFields>Quote_Amount__c</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>Extra_Charges_Amount__c</queriedFields>
        <queriedFields>Breakfast__c</queriedFields>
        <queriedFields>VAT__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OpportunityLineDetails</name>
        <label>Get OpportunityLineDetails</label>
        <locationX>548</locationX>
        <locationY>475</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_QuoteLineItemDetail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Line_Item.Opportunity_Line_Item_Details__r.Id</elementReference>
            </value>
        </filters>
        <object>Opprtunity_Line_Item_Details__c</object>
        <outputReference>varR_OpportunityLineDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Airline__c</queriedFields>
        <queriedFields>Arival_Date__c</queriedFields>
        <queriedFields>Departure_Date__c</queriedFields>
        <queriedFields>Destination__c</queriedFields>
        <queriedFields>Hotel__c</queriedFields>
        <queriedFields>Additional_Details__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update QuoteLineItem</label>
        <locationX>682</locationX>
        <locationY>726</locationY>
        <inputAssignments>
            <field>Breakfast__c</field>
            <value>
                <elementReference>Get_Opportunity_Line_Item.Breakfast__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Extra_Charges_Amount__c</field>
            <value>
                <elementReference>Get_Opportunity_Line_Item.Extra_Charges_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_Item_Detail__c</field>
            <value>
                <elementReference>varR_QuoteLineItemDetail.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Markup_Amount__c</field>
            <value>
                <elementReference>Get_Opportunity_Line_Item.Markup_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Markup__c</field>
            <value>
                <elementReference>Get_Opportunity_Line_Item.Markup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_rate__c</field>
            <value>
                <elementReference>Get_Opportunity_Line_Item.Total_rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Get_Opportunity_Line_Item.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAT__c</field>
            <value>
                <elementReference>Get_Opportunity_Line_Item.VAT__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Opportunity_Line_Item</targetReference>
        </connector>
        <object>QuoteLineItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_OpportunityLineDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opprtunity_Line_Item_Details__c</objectType>
    </variables>
    <variables>
        <name>varR_QuoteLineItemDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Line_Item_Detail__c</objectType>
    </variables>
</Flow>
